@import "DCSA-Theme";


p-dropdown::ng-deep {
  .dropdown {
    width: 100%;
  }
}

.rowDetails {
  color: $darkGrey;
  text-transform: capitalize;
  font-size: $tableSize !important;
}

.terminalListDetails {
  color: $darkGrey;
  text-transform: capitalize;
}

.ui-dropdown-label-container {
  width: 100%;
}

.ui-dropdown .ui-dropdown-clearable .ui-dropdown-label {
  text-overflow: ellipsis;
  padding-right: 2em !important;
}

::ng-deep .p-dropdown .p-dropdown-label {
  text-overflow: ellipsis;
  padding-right: 1em !important;
}

.p-dropdown-label {
  font-size: $tableSize !important;
}

.headline{
  margin-bottom: 30px;
}

.commentBox{
  height: 200px;
  width: 600px;
}

.footer_option{
  display: flex;

  &__buttons{
    display: flex;
    flex-direction: row;
    padding-left: 2px;
  }
}

.delayCodeDetails{

  margin: 1px;

  &____smdgCode{
    font-size: 12px;
    text-transform: capitalize;
    font-weight: bold;
  }

  &__delayType {
    color: $tealBlue;
    text-transform: capitalize;
    font-size: 12px;

  }
  &__delayName {
    color: $darkGrey;
    text-transform: capitalize;
    font-size: 10px;
  }
  &__delaydescription {
    color: $darkGrey;
    text-transform: capitalize;
    font-size: 10px;
  }
}



.delayCodeSelectedWrapper {
  display: flex;
  align-items: center;
}
.delayCodeSelected {
  float: left;
  clear: none;
  font-size: 10pt;

  &__smdgCode{
    font-weight: bold;
  }
  &__delayType{
    color: $tealBlue;
  }
  &__delayDetails{
    color:$darkGrey
  }
}

