<h4>For Transport-Call {{ transportCall.transportCallSequenceNumber}}</h4>
<div class="headline">
  <p-card styleClass="card-scondary">
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-md-4">
        <label class="label-compressed" for="vesselName">{{'general.transportCall.table.vesselName.label'| translate}}
          : </label>
        <span id="vesselName"> {{transportCall.vesselName}} </span>
      </div>
      <div class="p-field p-col-12 p-md-4">
        <label class="label-compressed" for="portOfCall">{{'general.port.ofCall'| translate}}: </label>
        <span id="portOfCall"
              *ngIf="defaultTimestamp.portOfCall != null">  {{$any(defaultTimestamp.portOfCall).unLocode}} </span>
        <!-- {{defaultTimestamp.portOfCall.unLocode}} </span> -->
      </div>
      <div class="p-field p-col-12 p-md-4">
        <!-- Placeholder for additional information -->
      </div>
      <div class="p-field p-col-12 p-md-4">
        <label class="label-compressed" for="vesselIMO">{{'general.transportCall.table.vesselImo.label'| translate}}
          : </label>
        <span id="vesselIMO"> {{transportCall.vesselIMONumber}}</span>
      </div>
      <div class="p-field p-col-12 p-md-4">
        <label class="label-compressed" for="terminal">{{'general.terminal.label'| translate}}: </label>
        <span *ngIf="defaultTimestamp.facilityCode != null" id="terminal"> {{defaultTimestamp.facilityCode}}</span>
      </div>
      <div class="p-field p-col-12 p-md-4">
        <!-- Placeholder for additional information -->
      </div>
    </div>
  </p-card>
</div>

<div class="p-fluid p-formgrid p-grid">
  <div class="p-field p-col-12 p-md-4">
    <label for="timestampType">{{ 'general.table.header.timestamp.label' | translate }}: </label>
    <p-dropdown id="timestampType" styleClass="dropdown" [(ngModel)]="timestampSelected"
                [options]="timestampTypes" (onChange)="showLocationNameOption()"></p-dropdown>
  </div>

  <div class="p-field p-col-12 p-md-2"></div>

  <!--
  <div class="p-field p-col-12 p-md-5">
    <label for="logoftimestamp">{{ 'general.table.header.logOfTimestamp.label' | translate }}: </label>
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-md-6">
        <p-calendar id="logoftimestamp" appendTo="body" [(ngModel)]="logOfTimestampDate" hourFormat="24"
                    [monthNavigator]="true" [showButtonBar]="false"
                    [showIcon]="true" [showWeek]="true"
                    [yearNavigator]="true" yearRange="2010:2040"
                    styleClass="date-time-date-field" placeholder="{{ 'general.timestamp.date.log' | translate }}"
                    [panelStyleClass]="'datetime-panel'"></p-calendar>
      </div>
      <div class="p-field p-col-12 p-md-6">
        <p-inputMask [(ngModel)]="logOfTimestampTime" mask="99:99"
                     placeholder="{{ 'general.timestamp.time' | translate }}"
                     styleClass="datetime-time-time-field"></p-inputMask>
        <button type="button" pButton pRipple icon="pi pi-clock" styleClass="p-button-success"
                (click)="setLogOfTimestampToNow()"></button>
      </div>
    </div>
  </div>
 -->


  <div class="p-field p-col-12 p-md-5">
    <label for="eventtimestamp">{{ 'general.table.header.eventTimestamp.label' | translate }}: </label>

    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-md-6">
        <p-calendar id="eventtimestamp" appendTo="body" [(ngModel)]="eventTimestampDate" hourFormat="24"
                    [monthNavigator]="true" [showButtonBar]="false"
                    [showIcon]="true" [showWeek]="true"
                    [yearNavigator]="true" yearRange="2010:2030"
                    styleClass="date-time-date-field" placeholder="{{ 'general.timestamp.date.event' | translate }}"
                    [panelStyleClass]="'datetime-panel'"></p-calendar>
      </div>
      <div class="p-field p-col-12 p-md-6">
        <p-inputMask [(ngModel)]="eventTimestampTime" mask="99:99"
                     placeholder="{{ 'general.timestamp.time' | translate }}"
                     styleClass="datetime-time-time-field"></p-inputMask>
        <button pTooltip="{{ 'general.currentTime.tooltip' | translate }}"
                tooltipPosition="top"
                tooltipStyleClass="ToolTipClass"
                class="minus-rounded-borders" type="button" pButton pRipple icon="pi pi-clock"
                styleClass="p-button-success"
                (click)="setEventTimestampToNow()"></button>
      </div>
    </div>
  </div>
  <!--
  <div class="p-field p-col-12 p-md-2">
  </div>

  <div class="p-field p-col-12 p-md-5">
    <label for="locationID">{{'general.table.header.berthId.label' | translate }}</label>
    <input id="locationID" [(ngModel)]="defaultTimestamp.locationId" pInputText style="width: 100%" type="text"/>
  </div>
  <div class="p-field p-col-12 p-md-7">
  </div> -->
  <div class="p-field p-col-12 p-md-4">
    <div class="p-field berth-location-field" [hidden]="!showLocationNameOption()">
      <label for="locationName">{{ locationNameLabel | translate }}:</label>
      <input id="locationName" [(ngModel)]="locationName" pInputText style="width: 100%" type="text"/>
    </div>
    <label for="delayCode">{{"general.delaycode.label" | translate}}</label>
    <p-dropdown id="delayCode" [options]="delayCodeOptions" [(ngModel)]="delayCode" [filter]="true"
                filterBy="label,value.name" [group]="false">
      <ng-template let-delayCode pTemplate="selectedItem">
        <div *ngIf="delayCode.value" class="delayCodeSelectedWrapper">
          <div class="delayCodeSelected__smdgCode">{{delayCode.value.smdgCode}}</div>
          <div class="delayCodeSelected__delayType">&nbsp;&middot;&nbsp;{{delayCode.value.delayType}}
          </div>
          <div class="delayCodeSelected__delayDetails">&nbsp;&middot;&nbsp;{{delayCode.value.name}}</div>
          <div class="delayCodeSelected__delayDetails">&nbsp;&middot;&nbsp;{{delayCode.value.description}}</div>
        </div>
        <div *ngIf="!delayCode.value">
          <div>{{delayCode.label}}</div>
        </div>
      </ng-template>
      <ng-template let-delayCode pTemplate="item">
        <div class="delayCodeDetails" *ngIf="delayCode.value">
          <div class="delayCodeDetails__smdgCode">{{delayCode.value.smdgCode}}</div>
          <div class="delayCodeDetails__delayType">{{delayCode.value.delayType}}</div>
          <div class="delayCodeDetails__delayName">{{delayCode.value.name}}</div>
          <div class="delayCodeDetails__delaydescription">{{delayCode.value.description}}</div>
        </div>
      </ng-template>
    </p-dropdown>
    <div class="p-field berth-location-field" [hidden]="!showLocationNameOption()">
      <label for="locationName">{{ locationNameLabel | translate }}:</label>
      <input id="locationName" [(ngModel)]="locationName" pInputText style="width: 100%" type="text"/>
    </div>
  </div>

  <div class="p-field p-col-12 p-md-2"></div>

  <div class="p-field p-col-12 p-md-5">
    <span class="p-float-label">
      <textarea class="commentBox" id="commentbox" pInputTextarea [(ngModel)]="defaultTimestamp.remark"></textarea>
      <label for="commentbox">{{ 'general.comment.tooltip' | translate }}</label>
    </span>
  </div>
  <!-- Location Name -->
  
  <div class="p-field p-col-12 p-md-6"></div>
</div>

<div class="p-grid">
  <div class="p-col-8">
  </div>
  <div class="p-col-4 footer_option" style="justify-content: flex-end">
    <p-button (onClick)="close()" class="footer_option__buttons"
              icon="pi pi-times-circle" label="{{'general.close.label' | translate}}" iconPos="left">
    </p-button>
    <p-button (onClick)="savePortcallTimestamp(defaultTimestamp, transportCall)" class="footer_option__buttons"
              [disabled]="validatePortOfCallTimestamp()" icon="pi pi-save"
              label="{{'general.save.editor.label' | translate}}" iconPos="left">
      <p-progressSpinner *ngIf="creationProgress" [style]="{width: '18px', height: '18px'}"
                         styleClass="custom-spinner"
                         strokeWidth="3"
                         animationDuration=".9s"></p-progressSpinner>
    </p-button>

  </div>
</div>




