<p-table [value]="($timestamps | async)">
  <ng-template pTemplate="body" let-timestamp>
    <tr>
      <td style="width: 2%"></td>
      <td style="width: 7%; padding-left: 0">
        <p-dropdown [(ngModel)]="timestamp.timestampType" [options]="timestampTypes" pTooltip="{{this.toolTips.timestampTT}}" tooltipPosition="top"
                    tooltipStyleClass="ToolTipClass"></p-dropdown>
      </td>
      <td style="width: 5%"></td>
      <td>
        <p-calendar [(ngModel)]="timestamp.logOfTimestamp" hourFormat="24" monthNavigator="true" showButtonBar="true"
                    showIcon="true"
                    showTime="true"
                    showWeek="true" yearNavigator="true" yearRange="2010:2030" pTooltip="{{this.toolTips.logOfTimestampTT}}" tooltipPosition="top"
                    tooltipStyleClass="ToolTipClass"></p-calendar>
      </td>
      <td>
        <p-calendar [(ngModel)]="timestamp.eventTimestamp" hourFormat="24" monthNavigator="true" showButtonBar="true"
                    showIcon="true"
                    showTime="true" showWeek="true" yearNavigator="true" yearRange="2010:2030" pTooltip="{{this.toolTips.eventTimestampTT}}" tooltipPosition="top"
                    tooltipStyleClass="ToolTipClass"></p-calendar>
      </td>
      <td style="width: 7%">
        <p-dropdown [(ngModel)]="timestamp.portPrevious" [filter]="true" [options]="portOptions"
                    filterBy="label,value.name" pTooltip="{{this.toolTips.priviousPortTT}}" tooltipPosition="top"
                    tooltipStyleClass="ToolTipClass">
          <ng-template let-port pTemplate="item">
            <div *ngIf="port.value">
              <div>{{port.value.unLocode}}</div>
              <div class="portListName">{{port.value.name}}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </td>
      <td style="width: 7%">
        <p-dropdown (onChange)="selectPortOfCall(timestamp.portOfCall.id)" [(ngModel)]="timestamp.portOfCall"
                    [filter]="true" [options]="portOptions"
                    filterBy="label,value.name" pTooltip="{{this.toolTips.portOfCallTT}}" tooltipPosition="top"
                    tooltipStyleClass="ToolTipClass">
          <ng-template let-port pTemplate="item">
            <div *ngIf="port.value">
              <div>{{port.value.unLocode}}</div>
              <div class="portListName">{{port.value.name}}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </td>
      <td style="width: 7%">
        <p-dropdown [(ngModel)]="timestamp.portNext" [filter]="true" [options]="portOptions"
                    filterBy="label,value.name" pTooltip="{{this.toolTips.nextPortTT}}" tooltipPosition="top"
                    tooltipStyleClass="ToolTipClass">
          <ng-template let-port pTemplate="item">
            <div *ngIf="port.value">
              <div>{{port.value.unLocode}}</div>
              <div class="portListName">{{port.value.name}}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </td>
      <td style="width: 7%">
        <p-dropdown [(ngModel)]="timestamp.direction" [options]="directions" pTooltip="{{this.toolTips.directionTT}}" tooltipPosition="top"
                    tooltipStyleClass="ToolTipClass"></p-dropdown>
      </td>
      <td style="width: 14%">
        <p-dropdown [(ngModel)]="timestamp.terminal" [disabled]="timestamp.portOfCall === null"
                    [options]="terminalOptions" [filter]="true" filterBy="label,value.terminalName" pTooltip="{{this.toolTips.terminalTT}}" tooltipPosition="top"
                    tooltipStyleClass="ToolTipClass">
          <ng-template let-terminal pTemplate="item">
            <div *ngIf="terminal.value">
              <div>{{terminal.value.smdgCode}}</div>
              <div class="terminalListDetails">{{terminal.value.terminalName}}</div>
              <div class="terminalListDetails">{{terminal.value.terminalOperator}}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </td>
      <td><label><input type="text" pInputText [(ngModel)]="timestamp.locationId" pTooltip="{{this.toolTips.locationTT}}" tooltipPosition="top"
        tooltipStyleClass="ToolTipClass"/></label></td>
      <td style="width: 5%">
        <p-button (onClick)="addComment(timestamp)" icon="pi pi-comment" pTooltip="{{this.toolTips.commentButtonTT}}" tooltipPosition="top"
                  tooltipStyleClass="ToolTipClass"></p-button>
        <p-button (onClick)="savePortcallTimestamp(timestamp, vesselId)"
                  [disabled]="validatePortOfCallTimestamp(timestamp)" icon="pi pi-save"></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-toast key="TimestampAddSuccess" position="bottom-right"></p-toast>
<p-toast key="TimestampAddError" position="bottom-right"></p-toast>
