@import "DCSA-Theme";

.rowDetails {
  color: $darkGrey;
  text-transform: capitalize;
  font-size: $tableSize !important;
}

.terminalListDetails {
  color: $darkGrey;
  text-transform: capitalize;
}

.ui-dropdown-label-container {
  width: 100%;

}
.ui-dropdown .ui-dropdown-clearable .ui-dropdown-label {
  text-overflow: ellipsis;
  padding-right: 2em !important;
}
.p-dropdown .p-dropdown-label {
  text-overflow: ellipsis;
  padding-right: 1em !important;


}
.p-dropdown-label{
  font-size: $tableSize !important;
}
.timestampContent{

}


