<div class="p-fluid">
  <p-panel header="{{'general.delaycode.label' | translate}}">
   <div *ngIf="delayCode" class="p-col-12 p-md-10 delayCodeDiv">
    <span class="delayCodeSelected__smdgCode">{{delayCode.smdgCode}}</span><br>
    <span class="delayCodeSelected__delayType">{{delayCode.delayType}}</span><br>
    <span class="delayCodeSelected__delayDetails">{{delayCode.description}}</span>
  </div>
    <div *ngIf="!delayCode" class="p-col-12 p-md-10 delayCodeDiv">
      n/a
    </div>
  </p-panel>

  <div class="separator"></div>

  <p-panel header="{{'general.comment.tooltip' | translate}}">
    {{timestamp.changeComment}}
  </p-panel>
  <div class="p-col-12 p-md-6 p-lg-1" style="width: 100%" align="left">
    <span class="p-buttonset">
        <button  (click)="close()" label="{{ 'general.close.label' | translate }}" pButton type="button"></button>
    </span>
  </div>
</div>




