<div class="p-fluid">
  <p-panel header="{{'general.delaycode.label' | translate}}">
   <div *ngIf="delayReasonCode" class="p-col-12 p-md-10 delayCodeDetails">
    <div class="delayCodeSelected__smdgCode">{{delayReasonCode}}</div>
     <div class="delayCodeDetails__delayType">{{delayCode?.delayType}}</div>
     <div class="delayCodeDetails__delayName">{{delayCode?.name}}</div>
     <div class="delayCodeDetails__delaydescription">{{delayCode?.description}}</div>
  </div>
    <div *ngIf="!delayReasonCode" class="p-col-12 p-md-10 delayCodeDiv">
      n/a
    </div>
  </p-panel>

  <div class="separator"></div>

  <p-panel header="{{'general.comment.tooltip' | translate}}">
    {{timestamp.remark}}
  </p-panel>
  <div class="p-col-12 p-md-6 p-lg-1" style="width: 100%" align="left">
    <span class="p-buttonset">
        <button  (click)="close()" label="{{ 'general.close.label' | translate }}" pButton type="button"></button>
    </span>
  </div>
</div>




