<div *ngIf="progressing" class="dummyContent">
  <p-progressSpinner *ngIf="progressing"></p-progressSpinner>
</div>
<p-table *ngIf="!progressing" styleClass="p-datatable-sm" [value]="transportCalls" [(selection)]="selectedtransportCall"
  selectionMode="single" dataKey="transportCallID" responsiveLayout="scroll" (onRowSelect)="selectTransportCall($event)"
  (onRowUnselect)="unselectTransportCall()">
  <ng-template pTemplate="caption">
    <div class="grid">
      <div class="col">{{'general.portCall.label' | translate}}</div>
      <div class="col tableHeader">

      </div>
      <div class="col tableHeader">
        <div class="tableHeader__buttons">
          <p-button (onClick)="openCreationDialog()" class="p-button-raised p-button-rounded tableHeader__add_button"
            icon="pi pi-plus" pTooltip="{{ 'general.portCall.table.create.label' | translate }}"
            tooltipPosition="left" type="button" tooltipStyleClass="ToolTipClass"></p-button>
        </div>
        <div class="tableHeader__buttons">
          <p-button (onClick)="refreshTransportCalls()" class="p-button-raised p-button-rounded" icon="pi pi-refresh"
            pTooltip="{{ 'general.table.header.refresh' | translate }}" tooltipPosition="left" type="button"
            tooltipStyleClass="ToolTipClass"></p-button>

        </div>

      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width:10%" class="noTransparancy">{{'general.transportCall.table.vesselName.label'| translate}}</th>
      <th style="width:10%" class="noTransparancy">{{'general.transportCall.table.vesselImo.label'| translate}}</th>
      <th style="width:10%" class="noTransparancy">{{'general.transportCall.table.UNLocationCode.secondLabel'| translate}}</th>
      <th style="width:15%" class="noTransparancy">{{'general.transportCall.table.estimatedDateofArrival.label'| translate}}</th>
      <th style="width:15%" class="noTransparancy">{{'general.transportCall.table.importVoyageNumber.label'| translate}}</th>
      <th style="width:15%" class="noTransparancy">{{'general.transportCall.table.exportVoyageNumber.label'| translate}}</th>
      <th style="width:10%" class="noTransparancy">{{'general.transportCall.table.carrierServiceCode.label'| translate}}</th>
      <th style="width:15%" class="noTransparancy">{{'general.transportCall.table.latestEventCreatedDateTime.label'| translate}}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-transportCall>
    <tr [pSelectableRow]="transportCall"
      [ngClass]="{'obsoleteTransportCall': transportCall.atdBerthDateTime != undefined}">
      <td pTooltip="{{  transportCall.vessel | vesselTooltip: transportCall.milesRemainingToDestination }}">
        {{transportCall.vesselName}}</td>
      <td pTooltip="{{  transportCall.vessel | vesselTooltip: transportCall.milesRemainingToDestination }}">
        {{transportCall.vesselIMONumber}}</td>
      <td>{{transportCall.UNLocationCode}}</td>
      <td pTooltip="UTC: {{(transportCall.etaBerthDateTime | timestampToTimezone: transportCall.portOfCall)[1]}}">
        {{(transportCall.etaBerthDateTime | timestampToTimezone: transportCall.portOfCall)[0]}}</td>
      <td>{{transportCall.importVoyageNumber}}</td>
      <td>{{transportCall.exportVoyageNumber}}</td>
      <td>{{transportCall.carrierServiceCode}}</td>
      <td pTooltip="UTC: {{(transportCall.latestEventCreatedDateTime | timestampToTimezone: transportCall.portOfCall)[1]}}">
        {{(transportCall.latestEventCreatedDateTime | timestampToTimezone: transportCall.portOfCall)[0]}}</td>
    </tr>
  </ng-template>
</p-table>


<p-toast key="TransportcallAddSuccess" position="bottom-right"></p-toast>
<p-toast key="TransportcallAddError" position="bottom-right"></p-toast>