<form [formGroup]="transportCallFormGroup">
  <h4>{{ 'general.portVisit.label' | translate }}</h4>
  <div class="p-fluid p-formgrid grid">

    <div class="md:col-4">
      <label for="serviceCode">{{ 'general.transportCall.table.carrierServiceCode.label' | translate }}:</label>
      <input id="serviceCode" formControlName="serviceCode" pInputText style="width: 100%" type="text" />
      <span
        *ngIf="transportCallFormGroup.get('serviceCode').hasError('required') && transportCallFormGroup.get('serviceCode').touched"
        class="p-invalid">
        {{ 'general.transportCall.validation.carrierServiceCode.empty' | translate }}
      </span>
      <span *ngIf="transportCallFormGroup.get('serviceCode').hasError('maxlength')" class="p-invalid">
        {{ 'general.transportCall.validation.carrierServiceCode.length' | translate }}
      </span>
    </div>

    <div class="md:col-4">
      <label for="exportVoyageNumber">{{ 'general.transportCall.table.exportVoyageNumber.label' | translate }}:</label>
      <input id="exportVoyageNumber" formControlName="exportVoyageNumber" pInputText style="width: 100%" type="text" />
      <span
        *ngIf="transportCallFormGroup.get('exportVoyageNumber').hasError('required') && transportCallFormGroup.get('exportVoyageNumber').touched"
        class="p-invalid">{{ 'general.transportCall.validation.exportVoyageNumber.empty' | translate }}
      </span>
      <span *ngIf="transportCallFormGroup.get('exportVoyageNumber').hasError('maxlength')" class="p-invalid">
        {{ 'general.transportCall.validation.exportVoyageNumber.length' | translate }}
      </span>
    </div>

    <div class="md:col-4">
      <label for="importVoyageNumber">{{ 'general.transportCall.table.importVoyageNumber.label' | translate }}:</label>
      <input id="importVoyageNumber" formControlName="importVoyageNumber" pInputText style="width: 100%" type="text" />
      <span *ngIf="transportCallFormGroup.get('importVoyageNumber').hasError('maxlength')" class="p-invalid">
        {{ 'general.transportCall.validation.importVoyageNumber.length' | translate }}
      </span>
    </div>

    <div class="p-field col-12 md:col-12"></div>

    <!-- portOfCall -->
    <div class="p-field col-12 md:col-6">

      <label for="portOfCall">{{ 'general.port.ofCall' | translate }}:</label>
      <p-dropdown   appendTo="body"
        formControlName="port" id="portOfCall"
        [filter]="true"
        [showClear]=true
        optionLabel="UNLocationCode"
        [options]="portOfCalls$ | async"
        filterBy="UNLocationName,UNLocationCode"
        placeholder="{{ 'general.port.select' | translate }}">
        <ng-template let-port pTemplate="item">
          <div *ngIf="port">
            <div>{{port.UNLocationCode}}</div>
            <div class="portListName">{{port.UNLocationName}}</div>
          </div>
        </ng-template>
      </p-dropdown>
      <span
        *ngIf="transportCallFormGroup.get('port').hasError('required') && transportCallFormGroup.get('port').touched"
        class="p-invalid">
        {{ 'general.transportCall.validation.port.empty' | translate }}
      </span>
    </div>

    <!-- Vessel -->
    <div class="md:col-6">
      <label for="vessels">{{ 'general.vessel.label' | translate }}:</label>
      <p-dropdown appendTo="body"
                  formControlName="vessel"
                  id="vessels"
                  [options]="vessels$ | async"
                  [ngModel]="selectedVessel"
                  [filter]="true"
                  filterBy="vesselIMONumber,vesselName"
                  (onChange)="vesselSelected()"
                  placeholder="{{ 'general.vessel.select' | translate }}">
        <ng-template let-vessel pTemplate="item">
          <div>{{vessel.vesselName}} ({{vessel.vesselIMONumber}})</div>
        </ng-template>
        <ng-template let-vessel pTemplate="selectedItem">
          <div>{{vessel.vesselName}} ({{vessel.vesselIMONumber}})</div>
        </ng-template>
      </p-dropdown>
      <ng-container *ngIf="transportCallFormGroup.get('vessel') as vesselControl">
        <span *ngIf="!vesselControl.touched && vesselControl.hasError('required')" class="p-invalid">
          {{ 'general.transportCall.validation.vessel.noVesselSelected' | translate }}
        </span>
      </ng-container>
    </div>
  </div>

  <!-- TIMESTAMP -->
  <div class="p-field col-12 md:col-12"></div>
  <h4>{{ 'general.timestamp.label' | translate }}</h4>

  <!-- Timestamp drop down-->
  <div class="p-field col-12 md:col-5">
    <label for="createTimestamp"> Check to create Timestamp </label>
    <input id="createTimestamp"
           class="p-checkbox-box"
           type="checkbox"
           [(ngModel)]="createTimestampChecked"
           [ngModelOptions]="{standalone: true}">
  </div>

  <div class="grid">
    <div class="col-8">
    </div>
    <div class="col-4 footer_option" style="justify-content: flex-end">
      <p-button class="footer_option__buttons" icon="pi pi-times-circle" (onClick)="close()"
        label="{{'general.close.label' | translate}}" iconPos="left">
      </p-button>
      <p-button label="{{ proceedButtonText() | translate }}" iconPos="left" class="footer_option__buttons"
                icon="pi pi-save" appDebounceClick (debounceClick)="proceed()" [debounceTime]="200"
                [disabled]="transportCallFormGroup.invalid">

        <p-progressSpinner *ngIf="creationProgress" [style]="{width: '18px', height: '18px'}"
          styleClass="custom-spinner" strokeWidth="3" animationDuration=".9s"></p-progressSpinner>
      </p-button>

    </div>
  </div>

</form>
