<p-table #dt [filterDelay]="0" [lazy]="true" [sortOrder]="1" [value]="($timestamps | async)"
         [globalFilterFields]="['timestampType','classifierCode','eventTypeCode','portOfCall','portPrevious', 'portNext']"
         sortField="logOfTimestamp" styleClass="p-datatable-sm">
  <ng-template pTemplate="caption">
    <div class="p-grid">
      <div class="p-col"></div>
      <div class="p-col"></div>
      <div class="p-col globalSearch">
        <div class="p-input-icon-left globalSearch">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                 placeholder="Search in table" class="p-column-filter"
                 pTooltip="This enables table search containing for Timestamp, Classifier Code, Event Type Code, Port From, Port To and Next Port">
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="vesselId" pTooltip="The vessel of a process event"
          style="width: 7%"
          tooltipPosition="top" tooltipStyleClass="ToolTipClass" class="timestampContent">Vessel
        <p-sortIcon field="vessel"></p-sortIcon>
      </th>
      <th pSortableColumn="timestampType"
          pTooltip="An estimated, requested, planned or actual timestamp of a process event."
          style="width: 7%"
          tooltipPosition="top" tooltipStyleClass="ToolTipClass" class="timestampContent">Timestamp
        <p-sortIcon field="timestampType" class="timestampContent"></p-sortIcon>
      </th>
      <th style="width: 5%" pSortableColumn="sequence"
          pTooltip="How often the planning of a process was changed. This will change automatically."
          tooltipPosition="top"
          tooltipStyleClass="ToolTipClass" class="timestampContent">Sequence
      </th>
      <th pSortableColumn="logOfTimestamp" pTooltip="When was the event communicated (local time for port)."
          tooltipPosition="top"
          style="width: 10%"
          tooltipStyleClass="ToolTipClass" class="timestampContent">Log of Timestamp
        <p-sortIcon field="logOfTimestamp"></p-sortIcon>
      </th>
      <th pSortableColumn="eventTimestamp"
          pTooltip="What is the estimated, requested, planned or actual timestamp of the event (local time for port)."
          tooltipPosition="top"
          style="width: 10%"
          tooltipStyleClass="ToolTipClass" class="timestampContent">Event Timestamp
        <p-sortIcon field="eventTimestamp"></p-sortIcon>
      </th>
      <th style="width: 8%" pSortableColumn="portPrevious" pTooltip="What port does the vessel come from?"
          tooltipPosition="top"
          tooltipStyleClass="ToolTipClass" class="timestampContent">Previous Port
        <p-sortIcon field="portPrevious"></p-sortIcon>
      </th>
      <th pSortableColumn="portOfCall"
          pTooltip="What is the approaching port of call? For the agent: this is your own port"
          style="width: 7%"
          tooltipPosition="top"
          tooltipStyleClass="ToolTipClass" class="timestampContent">Port of Call
        <p-sortIcon field="portOfCall"></p-sortIcon>
      </th>
      <th style="width: 7%" pSortableColumn="portNext" pTooltip="What is the next port in the rotation"
          tooltipPosition="top"
          tooltipStyleClass="ToolTipClass" class="timestampContent">Next Port
        <p-sortIcon field="portNext"></p-sortIcon>
      </th>
      <th style="width: 7%" pSortableColumn="direction"
          pTooltip="What is the vessel direction, e.g. north or southbound" tooltipPosition="top"
          tooltipStyleClass="ToolTipClass" class="timestampContent">Direction
        <p-sortIcon field="direction"></p-sortIcon>
      </th>
      <th pSortableColumn="terminal" style="width: 7%" pTooltip="What is the name and/or SMDG code of the terminal?"
          tooltipPosition="top"
          tooltipStyleClass="ToolTipClass" class="timestampContent">Terminal Id
        <p-sortIcon field="terminal" class="timestampContent"></p-sortIcon>
      </th>
      <th style="width: 7%" pSortableColumn="locationId"
          pTooltip="If available: where will the vessel berth (bollard number or name)"
          tooltipPosition="top"
          tooltipStyleClass="ToolTipClass" class="timestampContent">Berth Id
        <p-sortIcon field="locationId"></p-sortIcon>
      </th>
      <th pTooltip="Root cause and/or comment for (change of) port call event" tooltipPosition="top"
          tooltipStyleClass="ToolTipClass" class="timestampContent">Root cause comm.
      </th>
      <th style="width: 2%"></th>
      <th style="width: 5%"></th>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-timestamp>
    <tr>
      <td style="width: 7%" class="timestampContent">
        <div>{{ (timestamp.vessel | vesselIdToVessel: vessels).name}}</div>
        <div class="rowDetails">{{ (timestamp.vessel | vesselIdToVessel: vessels).serviceNameCode}}</div>
      </td>
      <td style="width: 7%"
          class="timestampContent">{{ timestamp.timestampType | portCallTimestampTypeToStringPipe: null }}</td>
      <td class="timestampContent">{{ timestamp.callSequence + 1 }}</td>
      <td
        class="dateTimeStamp timestampContent">{{ timestamp.logOfTimestamp | timestampToTimezone: timestamp: ports}}</td>
      <td
        class="dateTimeStamp timestampContent">{{ timestamp.eventTimestamp | timestampToTimezone: timestamp: ports}}</td>
      <td style="width: 7%">
        <div class="timestampContent">{{ (timestamp.portPrevious | portIdToPort: ports).unLocode}}</div>
        <div class="rowDetails">{{ (timestamp.portPrevious | portIdToPort: ports).name}}</div>
      </td>
      <td style="width: 7%">
        <div class="timestampContent">{{ (timestamp.portOfCall | portIdToPort: ports).unLocode}}</div>
        <div class="rowDetails">{{ (timestamp.portOfCall | portIdToPort: ports).name}}</div>
      </td>
      <td style="width: 7%">
        <div class="timestampContent">{{ (timestamp.portNext | portIdToPort: ports).unLocode}}</div>
        <div class="rowDetails">{{ (timestamp.portNext | portIdToPort: ports).name}}</div>
      </td>
      <td style="width: 7%" class="timestampContent">{{ timestamp.direction }}</td>
      <td style="width: 7%" class="timestampContent">
        <!--   somehow there is a porblem acessing the terminals   -->
        <div *ngIf="terminals.length > 0">
          <div pTooltip="{{(timestamp.terminal | terminalIdToTerminal: terminals).terminalName}}" tooltipPosition="top"
               tooltipStyleClass="ToolTipClass">{{ (timestamp.terminal | terminalIdToTerminal: terminals).smdgCode}}</div>
        </div>
      </td>
      <td style="width: 7%" class="timestampContent">{{ timestamp.locationId }}</td>
      <td style="width: 3%" class="timestampContent">
        <p-button class="timestampContent" (onClick)="showComment(timestamp)"
                  icon="pi pi-comment">
        </p-button>
      </td>
      <td style="width: 2%" class="timestampContent">
        <span *ngIf="timestamp.messagingStatus != null" class="pi pi-info-circle"
              style="{{ timestamp.messagingStatus == null ?
                          '' :
                          (timestamp.messagingStatus.includes('ERROR') ?
                                'color: #DE5141;' :
                                (timestamp.messagingStatus.includes('SUCCESS') ? 'color: #009093;' : '')
                          )
                      }}"
              pTooltip="Commuinication status: {{ timestamp.messagingStatus }}<br/>Details: {{ timestamp.messagingDetails }}"
              [escape]="false" tooltipPosition="top" tooltipStyleClass="ToolTipClass"></span>
      </td>
      <td style="width: 5%">
        <p-button class="timestampContent" *ngIf="highestTimestampId == timestamp.id && timestamp.modifiable"
                  icon="pi pi-trash"
                  (click)="deleteTimestamp(timestamp)" pTooltip="Delete the timestamp" tooltipPosition="top"
                  tooltipStyleClass="ToolTipClass"></p-button>

        <p-button class="timestampContent" *ngIf="timestamp.response != null" icon="pi pi-check"
                  pTooltip="Accept timestamp and send a response as {{timestamp.response}}" tooltipPosition="top"
                  tooltipStyleClass="ToolTipClass" (click)="acceptTimestamp(timestamp)"></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-confirmDialog key="deletetimestamp" header="Confirmation" icon="pi pi-exclamation-triangle"
                 appendTo="body"></p-confirmDialog>

<p-toast key="TimestampToast" position="bottom-right"></p-toast>
