<div *ngIf="progressing || !transportCallSelected" class="dummyContent">
  <p-progressSpinner *ngIf="progressing"></p-progressSpinner>
  <div *ngIf="!progressing && !transportCallSelected">
    {{"general.table.placeHolder.label" | translate}}
  </div>
</div>
<p-table *ngIf="!progressing && transportCallSelected" #dt [filterDelay]="0" [lazy]="false" [sortOrder]="1"
         [value]="timestamps"
         [globalFilterFields]="['timestampType','classifierCode','eventTypeCode','portOfCall','portPrevious', 'portNext']"
         sortField="logOfTimestamp" [sortOrder]="-1" styleClass="p-datatable-sm">
  <ng-template pTemplate="caption">

    <div class="p-grid">
      <div class="p-col"> {{'general.table.header.timestamps.label' | translate}}
        -- {{'general.transportCall.table.transportCallID.label'| translate}}
        : {{transportCallSelected.transportCallID}}</div>
      <div class="p-col tableHeader">
        <div class="tableHeader__buttons">
          <p-button class="p-button-raised p-button-rounded tableHeader__add_button" (onClick)="openCreationDialog()"
                    icon="pi pi-plus" pTooltip="{{ 'general.table.header.create.tooltip' | translate }}"
                    tooltipPosition="left" type="button"
                    tooltipStyleClass="ToolTipClass"></p-button>
        </div>
        <div class="tableHeader__buttons">
          <p-button (onClick)="refreshTimestamps()" class="p-button-raised p-button-rounded"
                    icon="pi pi-refresh" pTooltip="{{ 'general.table.header.refresh' | translate }}"
                    tooltipPosition="left" type="button"
                    tooltipStyleClass="ToolTipClass"></p-button>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width:3px"></th>
      <th pTooltip="{{ 'general.table.header.vessel.tooltip' | translate }}"
          style="width: 8%" tooltipPosition="top" tooltipStyleClass="ToolTipClass" class="timestampContent">
        {{ 'general.table.header.vessel.name' | translate }}

      </th>
      <th style="width: 7%"
      pTooltip="{{ 'general.publisherRole.label' | translate }}"
      tooltipPosition="top" tooltipStyleClass="ToolTipClass" class="timestampContent">
    {{ 'general.publisherRole.label' | translate }}

  </th>
      <th pTooltip="{{ 'general.table.header.timestamp.tooltip' | translate }}"
          style="width: 7%" tooltipPosition="top" tooltipStyleClass="ToolTipClass" class="timestampContent">
        {{ 'general.table.header.timestamp.label' | translate }}

      </th>
      <th pTooltip="{{ 'general.table.header.logOfTimestamp.tooltip' | translate }}"
          tooltipPosition="top" style="width: 15%" tooltipStyleClass="ToolTipClass" class="timestampContent">
        {{ 'general.table.header.logOfTimestamp.label' | translate }}

      </th>
      <th pTooltip="{{ 'general.table.header.eventTimestamp.tooltip' | translate }}"
          tooltipPosition="top" style="width: 15%" tooltipStyleClass="ToolTipClass" class="timestampContent">
        {{ 'general.table.header.eventTimestamp.label' | translate }}

      </th>
        <!--
      <th style="width: 8%" pSortableColumn="portPrevious"
          pTooltip="{{ 'general.table.header.previousPort.tooltip' | translate }}" tooltipPosition="top"
          tooltipStyleClass="ToolTipClass" class="timestampContent">
        {{ 'general.table.header.previousPort.label' | translate }}
        <p-sortIcon field="portPrevious"></p-sortIcon>
      </th>
    -->
      <th pTooltip="{{ 'general.table.header.portOfCall.tooltip' | translate }}"
          style="width: 7%" tooltipPosition="top" tooltipStyleClass="ToolTipClass" class="timestampContent">
        {{ 'general.table.header.portOfCall.label' | translate }}

      </th>
      <!--
      <th style="width: 7%" pSortableColumn="portNext"
          pTooltip="{{ 'general.table.header.nextPort.tooltip' | translate }}"
          tooltipPosition="top" tooltipStyleClass="ToolTipClass" class="timestampContent">
        {{ 'general.table.header.nextPort.label' | translate }}
        <p-sortIcon field="portNext"></p-sortIcon>
      </th>
      <th style="width: 6%" pSortableColumn="direction"
          pTooltip="{{ 'general.table.header.direction.tooltip' | translate }}" tooltipPosition="top"
          tooltipStyleClass="ToolTipClass" class="timestampContent">
        {{ 'general.table.header.direction.label' | translate }}
        <p-sortIcon field="direction"></p-sortIcon>
      </th>
      -->
      <th style="width: 7%"
          pTooltip="{{ 'general.table.header.terminalId.tooltip' | translate }}"
          tooltipPosition="top" tooltipStyleClass="ToolTipClass" class="timestampContent">
        {{ 'general.table.header.terminalId.label' | translate }}

      </th>
      <th style="width: 8%" pTooltip="{{ 'general.table.header.transportCallStatus.tooltip' | translate }}" tooltipPosition="top"
          tooltipStyleClass="ToolTipClass" class="timestampContent">{{ 'general.table.header.transportCallStatus.label' | translate }}</th>
      <th style="width: 4%" class="timestampContent" >
      </th>
      <th style="width: 4%" class="timestampContent" >
      </th>
    </tr>
    <tr class="invisible">
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>

    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-timestamp >

    <tr class="unreadTimestamp" [ngClass]="{'obsoleteTimestamp': timestamp.isLatestInCycle == false}">
      <td pTooltip="Publisher: {{timestamp.publisher.partyName}}
        PublisherRole: {{timestamp.publisherRole}}" tooltipPosition="top"
          tooltipStyleClass="ToolTipClass" style="width: 3px;"
          [ngStyle]="{'background-color': timestamp.sequenceColor}"></td>
      <td style="width: 8%"
          [ngClass]="timestamp.outdatedMessage ?  'disabledRow' : timestamp.uiReadByUser? 'timestampContent' : 'unreadTimestamp'  ">
        <div>{{ (timestamp.vesselIMONumber | vesselIdToVessel: vessels).vesselName}}</div>
        <div class="rowDetails">{{ (timestamp.vessel | vesselIdToVessel: vessels).serviceNameCode}}</div>
      </td>
      <td style="width: 8%"
      [ngClass]="timestamp.outdatedMessage ?  'disabledRow' : timestamp.uiReadByUser? 'timestampContent' : 'unreadTimestamp'  ">
    <div>{{ (timestamp.publisherRole)}}</div>
    <div class="rowDetails">{{ (timestamp.vessel | vesselIdToVessel: vessels).serviceNameCode}}</div>
  </td>
      <td style="width: 7%"
          [ngClass]="timestamp.outdatedMessage ?  'disabledRow' : timestamp.uiReadByUser? 'timestampContent' : 'unreadTimestamp'  ">
        {{ timestamp.timestampType }}
      </td>
      <td pTooltip ="UTC: {{(timestamp.logOfTimestamp | timestampToTimezone: timestamp.portOfCall: ports)[1]}}"
          style="width: 15%"
          [ngClass]="timestamp.outdatedMessage ?  'disabledRow' : timestamp.uiReadByUser? 'timestampContent' : 'unreadTimestamp'  ">
        {{(timestamp.logOfTimestamp | timestampToTimezone: timestamp.portOfCall: ports)[0]}}
      </td>
      <td pTooltip ="UTC: {{(timestamp.eventDateTime | timestampToTimezone: timestamp.portOfCall: ports)[1]}}"
          style="width: 15%"
          [ngClass]="timestamp.outdatedMessage ?  'disabledRow' : timestamp.uiReadByUser? 'timestampContent' : 'unreadTimestamp'  ">
        {{(timestamp.eventDateTime | timestampToTimezone: timestamp.portOfCall: ports)[0]}}
      </td>
        <!--
      <td
        [ngClass]="timestamp.outdatedMessage ?  'disabledRow' : timestamp.uiReadByUser? 'timestampContent' : 'unreadTimestamp'  ">
        <div
          [ngClass]="timestamp.outdatedMessage ?  'disabledRow' : timestamp.uiReadByUser? 'timestampContent' : 'unreadTimestamp'  ">{{ (timestamp.portPrevious | portIdToPort: ports).unLocode}}</div>
        <div class="rowDetails">{{ (timestamp.portPrevious | portIdToPort: ports).name}}</div>
      </td>
       -->
      <td
        [ngClass]="timestamp.outdatedMessage ?  'disabledRow' : timestamp.uiReadByUser? 'timestampContent' : 'unreadTimestamp'  "
        style="width: 8%">
        <div
          [ngClass]="timestamp.outdatedMessage ?  'disabledRow' : timestamp.uiReadByUser? 'timestampContent' : 'unreadTimestamp'  ">{{ (timestamp.portOfCall | portIdToPort: ports).unLocode}}</div>
        <div class="rowDetails">{{timestamp.portOfCall?.name}}</div>
      </td>
      <td style="width: 6%"
          [ngClass]="timestamp.outdatedMessage ?  'disabledRow' : timestamp.uiReadByUser? 'timestampContent' : 'unreadTimestamp'  ">
        <!--   somehow there is a porblem acessing the terminals   -->
        <div *ngIf="timestamp.facilitySMDGCode!= null">
          <div pTooltip="{{timestamp.facilitySMDGCode}}" tooltipPosition="top"
               tooltipStyleClass="ToolTipClass">{{timestamp.facilitySMDGCode}}</div>
        </div>
      </td>
    <td *ngIf="isOutGoing(timestamp) && timestamp.eventDeliveryStatus === 'DELIVERY_FINISHED'" pTooltip="{{ 'general.table.header.eventDeliveryStatus.tooltip.grey' | translate }}" tooltipPosition="top"
    tooltipStyleClass="ToolTipClass" [ngClass]="
      {
      'outgoingDelivered': timestamp.eventDeliveryStatus === 'DELIVERY_FINISHED'
      }"
      style="width: 4%">
    </td>
    <td *ngIf="isOutGoing(timestamp) && timestamp.eventDeliveryStatus === 'ATTEMPTED_DELIVERY'" pTooltip="{{ 'general.table.header.eventDeliveryStatus.tooltip.red' | translate }}" tooltipPosition="top"
    tooltipStyleClass="ToolTipClass" [ngClass]="
      {
      'outgoingAttempted': timestamp.eventDeliveryStatus === 'ATTEMPTED_DELIVERY'
      }"
      style="width: 4%">
    </td>
    <td  *ngIf="isOutGoing(timestamp) && timestamp.eventDeliveryStatus === 'PENDING_DELIVERY'" pTooltip="{{ 'general.table.header.eventDeliveryStatus.tooltip.yellow' | translate }}" tooltipPosition="top"
    tooltipStyleClass="ToolTipClass" [ngClass]="
      {
      'outgoingPending': timestamp.eventDeliveryStatus === 'PENDING_DELIVERY'
      }"
      style="width: 4%">
    </td>
                <!--this has been removed from the below td-->
              <!-- [ngClass]="timestamp.outdatedMessage ?  'disabledRow' : timestamp.uiReadByUser? 'timestampContent' : 'unreadTimestamp' "-->
      <td *ngIf="!isOutGoing(timestamp)" style="width: 4%"
      class="ingoing" pTooltip="{{ 'general.table.header.eventDeliveryStatus.tooltip.green' | translate }}" tooltipPosition="top"
    tooltipStyleClass="ToolTipClass">
      <!--
                <span *ngIf="timestamp.messageDirection != null" class="pi {{ timestamp.messageDirection == null ?
                  '' :
                  (timestamp.messageDirection == 'inbound' ?
                        'pi-arrow-left' : 'pi-arrow-right'
                  )
              }}"
                      pTooltip="{{ timestamp.messageDirection == null ?
                  '' :
                  (timestamp.messageDirection == 'inbound' ?
                        ( 'general.direction.inbound' | translate ) : ( 'general.direction.outbound' | translate )
                  )
              }}"
                      tooltipPosition="top" tooltipStyleClass="ToolTipClass">&nbsp;</span>  -->


      </td>
      <td
        [ngClass]="timestamp.outdatedMessage ?  'disabledRow' : timestamp.uiReadByUser? 'timestampContent' : 'unreadTimestamp'  "
        style="width: 8%">
   <!--     <div
          [ngClass]="timestamp.outdatedMessage ?  'disabledRow' : timestamp.uiReadByUser? 'timestampContent' : 'unreadTimestamp'  ">{{ (timestamp.portNext | portIdToPort: ports).unLocode}}</div>
        <div class="rowDetails">{{ (timestamp.portNext | portIdToPort: ports).name}}</div>
      </td>
      <td style="width: 7%"
          [ngClass]="timestamp.outdatedMessage ?  'disabledRow' : timestamp.uiReadByUser? 'timestampContent' : 'unreadTimestamp'  ">{{ timestamp.direction }}
     -->


    <!-- <div *ngIf="isOutGoing(timestamp)">Outgoing</div>
    <div *ngIf="!isOutGoing(timestamp)">Ingoing</div> -->
      </td>
      <td
        [ngClass]="timestamp.outdatedMessage ?  'disabledRow' : timestamp.uiReadByUser? 'timestampContent' : 'unreadTimestamp'  "
        style="width: 4%">
        <div class="p-col tableHeader">
          <div class="timestampContent__buttons" *ngIf="timestamp.remark || timestamp.delayReasonCode">
            <p-button (onClick)="showComment(timestamp)" icon="pi pi-comment">
            </p-button>
          </div>

          <div class="timestampContent__buttons" *ngIf="timestamp.response != null && !isOutGoing(timestamp)">
            <p-button icon="pi pi-check" pTooltip="{{ 'general.table.accept.tooltip' | translate }} {{timestamp.response}}"
              tooltipPosition="left" tooltipStyleClass="ToolTipClass" (click)="acceptTimestamp(timestamp)"></p-button>
          </div>

          <div class="timestampContent__buttons" *ngIf="timestamp.response != null && !isOutGoing(timestamp)">
            <p-button icon="pi pi-times" pTooltip="{{ 'general.table.decline.tooltip' | translate }}" tooltipPosition="left"
              tooltipStyleClass="ToolTipClass" (click)="openCreationDialog()"></p-button>
          </div>
        </div>
      </td>

    </tr>
  </ng-template>
</p-table>

<p-confirmDialog key="deletetimestamp" header="Confirmation" icon="pi pi-exclamation-triangle"
                 appendTo="body"></p-confirmDialog>

<p-toast key="TimestampToast" position="bottom-right"></p-toast>
<p-toast key="TimestampAddSuccess" position="bottom-right"></p-toast>
<p-toast key="TimestampAddError" position="bottom-right"></p-toast>
