@import "DCSA-Theme";

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  position: -webkit-sticky;
  position: sticky;
  top: 1px;
}

@media screen and (max-width: 64em) {
  :host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    top: 1px;
  }
}

.globalSearch {
  float: right;
}


.rowDetails {
  color: $darkGrey;
  text-transform: capitalize;
  font-size: 12px;
}

.dateTimeStamp {
  white-space: pre-wrap;

}

.timestampContent{
  font-size:$tableSize;
  z-index: 1;
}
