<p-table #dt [filterDelay]="0" [sortOrder]="1" [value]="timestamps" sortField="logOfTimestamp"
         [globalFilterFields]="['timestampType','classifierCode','eventTypeCode','portOfCall','portPrevious', 'portNext']">
  <ng-template pTemplate="caption">
    <div class="p-grid">
      <div class="p-col"></div>
      <div class="p-col"></div>
      <div class="p-col globalSearch">
        <div class="p-input-icon-left globalSearch">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                 placeholder="Search in table" class="p-column-filter"
                 pTooltip="This enables table search containing for Timestamp, Classifier Code, Event Type Code, Port From, Port To and Next Port">
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 2%">#</th>
      <th style="width: 7%" pSortableColumn="timestampType"
          pTooltip="{{this.toolTips.timestampTT}}" tooltipPosition="top"
          tooltipStyleClass="ToolTipClass">Timestamp
        <p-sortIcon field="timestampType"></p-sortIcon>
      </th>
      <th pSortableColumn="logOfTimestamp" pTooltip="{{this.toolTips.logOfTimestampTT}}" tooltipPosition="top"
          tooltipStyleClass="ToolTipClass">Log of Timestamp
        <p-sortIcon field="logOfTimestamp"></p-sortIcon>
      </th>
      <th pSortableColumn="eventTimestamp" pTooltip="{{this.toolTips.eventTimestampTT}}" tooltipPosition="top"
          tooltipStyleClass="ToolTipClass" >Event. Timestamp
        <p-sortIcon field="eventTimestamp"></p-sortIcon>
      </th>
      <th style="width: 7%" pSortableColumn="portPrevious" pTooltip="{{this.toolTips.priviousPortTT}}" tooltipPosition="top"
          tooltipStyleClass="ToolTipClass">Previous Port
        <p-sortIcon field="portPrevious"></p-sortIcon>
      </th>
      <th style="width: 7%" pSortableColumn="portOfCall" pTooltip="{{this.toolTips.portOfCallTT}}" tooltipPosition="top"
          tooltipStyleClass="ToolTipClass">Port of Call
        <p-sortIcon field="portOfCall"></p-sortIcon>
      </th>
      <th style="width: 7%" pSortableColumn="portNext" pTooltip="{{this.toolTips.nextPortTT}}" tooltipPosition="top"
          tooltipStyleClass="ToolTipClass">Next Port
        <p-sortIcon field="portNext"></p-sortIcon>
      </th>
      <th style="width: 7%" pSortableColumn="direction" pTooltip="{{this.toolTips.directionTT}}" tooltipPosition="top"
          tooltipStyleClass="ToolTipClass">Direction
        <p-sortIcon field="direction" ></p-sortIcon>
      </th>
      <th pSortableColumn="terminal" style="width: 14%">Terminal ID
        <p-sortIcon field="terminal" pTooltip="{{this.toolTips.terminalTT}} " tooltipPosition="top"
                    tooltipStyleClass="ToolTipClass"></p-sortIcon>
      </th>
      <th pSortableColumn="locationId" pTooltip="{{this.toolTips.locationTT}}" tooltipPosition="top"
          tooltipStyleClass="ToolTipClass">Location ID
        <p-sortIcon field="locationId"></p-sortIcon>
      </th>
      <th style="width: 5%"></th>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>

    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-timestamp>
    <tr>
      <td style="width: 2%">{{ timestamp.id }}</td>
      <td style="width: 7%">{{ timestamp.timestampType | portCallTimestampTypeToStringPipe: null }}</td>
      <td>{{ timestamp.logOfTimestamp | date: 'MM/dd/yyyy HH:mm ZZZZ' }}</td>
      <td>{{ timestamp.eventTimestamp | date: 'MM/dd/yyyy HH:mm ZZZZ' }}</td>
      <td style="width: 7%">
        <div>{{ (timestamp.portPrevious | portIdToPort: ports).unLocode}}</div>
        <div class="rowDetails">{{ (timestamp.portPrevious | portIdToPort: ports).name}}</div>
      </td>
      <td style="width: 7%">
        <div>{{ (timestamp.portOfCall | portIdToPort: ports).unLocode}}</div>
        <div class="rowDetails">{{ (timestamp.portOfCall | portIdToPort: ports).name}}</div>
      </td>
      <td style="width: 7%">
        <div>{{ (timestamp.portNext | portIdToPort: ports).unLocode}}</div>
        <div class="rowDetails">{{ (timestamp.portNext | portIdToPort: ports).name}}</div>
      </td>
      <td style="width: 7%">{{ timestamp.direction }}</td>
      <td style="width: 7%">
        <!--   somehow there is a porblem acessing the terminals   -->
        <div *ngIf="terminals.length > 0">
          <div pTooltip="{{(timestamp.terminal | terminalIdToTerminal: terminals).terminalName}}" tooltipPosition="top"
               tooltipStyleClass="ToolTipClass">{{ (timestamp.terminal | terminalIdToTerminal: terminals).smdgCode}}</div>
          </div>
      </td>
      <td>{{ timestamp.locationId }}</td>
      <td style="width: 5%">
        <p-button *ngIf="timestamps[timestamps.length - 1].id == timestamp.id" icon="pi pi-trash"
                  (click)="deleteTimestamp(timestamp)"></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-confirmDialog key="deletetimestamp" header="Confirmation" icon="pi pi-exclamation-triangle"
                 appendTo="body"></p-confirmDialog>

<p-toast key="TimestampRemoveSuccess" position="bottom-right"></p-toast>
<p-toast key="TimestampRemoveError" position="bottom-right"></p-toast>
