.tableHeader {
  display: flex;
  flex-direction: row;
  float: right;
  padding: 0px 0px !important;
  max-width: 320px !important;

  &__buttons {
    margin: 5px 10px 0px 0px;
  }

  .p-highlight{
    border: 1px solid red;

  }


}





