<p-table styleClass="p-datatable-sm" [value]="transportCall" [(selection)]="selectedtransportCall" selectionMode="single" dataKey="transportCallId"
         (onRowSelect)="selectTransportCall($event)">
  <ng-template pTemplate="caption">
    {{'general.transportCall.label' | translate}}
    <div class="p-grid">
      <div class="p-col"></div>
      <div class="p-col"></div>
      <div class="p-col tableHeader">
        <div class="tableHeader__buttons">
          <p-button (onClick)="refreshTable()" class="p-button-raised p-button-rounded"
                    icon="pi pi-refresh" pTooltip="{{ 'general.table.header.refresh' | translate }}" tooltipPosition="top" type="button"
                    tooltipStyleClass="ToolTipClass"></p-button>
        </div>
        <div class="p-input-icon-left globalSearch">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                 placeholder="{{ 'general.table.header.search.label' | translate }}" class="p-column-filter"
                 pTooltip="{{ 'general.table.header.search.tooltip' | translate }}">
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header" >
    <tr>
      <th style="width:10%">{{'general.transportCall.table.id' | translate}}</th>
      <th style="width:8%">{{'general.transportCall.table.carrierServiceCode.label' | translate}}</th>
      <th style="width:10%">{{'general.transportCall.table.vesselImo.label'| translate}}</th>
      <th style="width:15%">{{'general.transportCall.table.vesselName.label'| translate}}</th>
      <th style="width:10%">{{'general.transportCall.table.carrierVoyageNumber.label'| translate}}</th>
      <th style="width:5%">{{'general.transportCall.table.UNLocationCode.label'| translate}}</th>
      <th style="width:15%">{{'general.transportCall.table.UNLocationName.label'| translate}}</th>
      <th style="width:5%">{{'general.transportCall.table.transportCallNumber.label'| translate}}</th>
      <th style="width:5%">{{'general.transportCall.table.facilityTypeCode.label'| translate}}</th>
      <th style="width:10%">{{'general.transportCall.table.facilityCode.label'| translate}}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-transportCall let-rowIndex="rowIndex">
    <tr  [pSelectableRow]="transportCall" [pSelectableRowIndex]="rowIndex">
      <td>{{transportCall.transportCallID}}</td>
      <td>{{transportCall.carrierServiceCode}}</td>
      <td>{{transportCall.vesselIMONumber}}</td>
      <td>{{transportCall.vesselName}}</td>
      <td>{{transportCall.carrierVoyageNumber}}</td>
      <td>{{transportCall.UNLocationCode}}</td>
      <td>{{transportCall.UNLocationName}}</td>
      <td>{{transportCall.transportCallNumber}}</td>
      <td>{{transportCall.facilityTypeCode}}</td>
      <td>{{transportCall.facilityCode}}</td>
    </tr>
  </ng-template>
</p-table>
