@import "DCSA-Theme";

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  position: -webkit-sticky;
  position: sticky;
  top: 47px;
}
.globalSearch {
  float: right;
  height: 40px;
  padding: 3px 5px 3px 0px;

  i {
    padding-top: 3px !important;
  }
}

.tableHeader {
  display: flex;
  flex-direction: row;
  float: right;
  padding: 0px 0px !important;
  max-width: 120px !important;

  &__buttons {
    margin: 5px 10px 0px 0px;
  }

  .p-highlight{
    border: 1px solid red;

  }

}

.dummyContent{
  width: 98vw;
  margin-top: 100px;
  text-align: center;
  font-size: 16pt;
  color: $darkGrey;
  font-family: Tahoma, sans-serif;
}

.obsoleteTransportCall{
  opacity: 0.35;
}