<div class="vessel">
  <p-card>
    <div class="vessel__content">
      <span class="vessel__header">{{ 'general.vessel.label' | translate }}</span>

      <div class="vessel__content__first">
        <div class="vessel__select_modify">
          <div class="dropDownDiv">
            <p-dropdown (onChange)="selectVessel()" [(ngModel)]="selectedVessel" [filter]="true" [options]="vessels"></p-dropdown>
          </div>

          <div class="vessel__select_modify__buttons">
            <p-button (onClick)="createNewVessel()" class="p-button-raised p-button-rounded vessel__select_modify__buttons__addVesselBtn"
                      icon="pi pi-plus" pTooltip="{{ 'general.vessel.add.label' | translate }}" tooltipPosition="top" type="button"
                      tooltipStyleClass="ToolTipClass"></p-button>
            <p-button (onClick)="editVessel()" class="p-button-raised p-button-rounded"
                      icon="pi pi-pencil" pTooltip="{{ 'general.vessel.edit.label' | translate }}" tooltipPosition="top" type="button"
                      tooltipStyleClass="ToolTipClass"></p-button>
          </div>
        </div>


      </div>
    </div>
  </p-card>
</div>
<p-toast key="vesselNotSelectedWarning" position="bottom-right"></p-toast>
<p-toast key="vesselUpdateSuccess" position="bottom-right"></p-toast>
<p-toast key="vesselUpdateError" position="bottom-right"></p-toast>
<p-toast key="vesselAddSuccess" position="bottom-right"></p-toast>
<p-toast key="vesselAddError" position="bottom-right"></p-toast>
