<form [formGroup]="transportCallFormGroup">
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12 p-md-4">
      <h4>Transport Reference</h4>
      <label for="transportReference">Transport Reference:</label>
      <input id="transportReference" formControlName="transportReference" pInputText style="width: 100%" type="text"/>
      <span
        *ngIf="transportCallFormGroup.get('transportReference').hasError('required') && transportCallFormGroup.get('transportReference').touched"
        class="p-invalid">
          {{ 'general.transportCall.validation.vessel.empty' | translate }}
      </span>
      <span *ngIf="transportCallFormGroup.get('transportReference').hasError('pattern')" class="p-invalid">
          {{ 'general.transportCall.validation.vessel.length' | translate }}
      </span>
      <span *ngIf="transportCallFormGroup.get('transportReference').hasError('maxlength')" class="p-invalid">
          {{ 'general.transportCall.validation.vessel.lenght' | translate }}
      </span>
    </div>
    <div class="p-field p-col-12 p-md-4">
      <h4>Transport Name</h4>
      <label for="transportName">Transport Name:</label>
      <input id="transportName" formControlName="transportName" pInputText style="width: 100%" type="text"/>
      <span
        *ngIf="transportCallFormGroup.get('transportName').hasError('required') && transportCallFormGroup.get('transportName').touched"
        class="p-invalid">
          {{ 'general.transportCall.validation.vessel.empty' | translate }}
      </span>
      <span *ngIf="transportCallFormGroup.get('transportName').hasError('pattern')" class="p-invalid">
          {{ 'general.transportCall.validation.vessel.length' | translate }}
      </span>
      <span *ngIf="transportCallFormGroup.get('transportName').hasError('maxlength')" class="p-invalid">
          {{ 'general.transportCall.validation.vessel.lenght' | translate }}
      </span>
    </div>

    <div class="p-field p-col-12 p-md-8"></div>

    <div class="p-field p-col-12 p-md-12">

      <!-- Load Port -->
      <h4>{{ 'general.port.label' | translate }}</h4>
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-4">
          <label for="loadPort">Load {{ 'general.port.ofCall' | translate }}:</label>
          <p-dropdown appendTo="body" formControlName="loadPort" id="loadPort" class="portOfCall__dropDown"
                      [options]="portOptions"
                      [filter]="true"
                      (onChange)="portSelected(false)"
                      filterBy="label,value.name">
            <ng-template let-port pTemplate="item">
              <div *ngIf="!port.value">
                <div>Select port</div>
              </div>
              <div *ngIf="port.value">
                <div>{{port.value.unLocode}}</div>
                <div class="portListName">{{port.value.name}}</div>
              </div>
            </ng-template>
          </p-dropdown>
          <span *ngIf="transportCallFormGroup.get('loadPort').hasError('required')" class="p-invalid">
           {{ 'general.transportCall.validation.port.empty' | translate }}
          </span>
        </div>

        <!-- Load Terminal -->
        <div class="p-field p-col-12 p-md-4">
          <label for="loadTerminal">Load {{ 'general.terminal.label' | translate }}:</label>
          <p-dropdown appendTo="body" formControlName="loadTerminal" id="loadTerminal" class="portOfCall__dropDown"
                      [options]="loadTerminalOptions"
                      [filter]="true"
                      filterBy="label,value.name">
            <ng-template let-terminal pTemplate="item">
              <div *ngIf="!terminal.value">
                <div>Select Terminal</div>
              </div>
              <div *ngIf="terminal.value">
                <div>{{terminal.value.smdgCode}}</div>
                <div class="portListName">{{terminal.value.terminalName}}</div>
              </div>
            </ng-template>
          </p-dropdown>
          <span *ngIf="transportCallFormGroup.get('loadTerminal').hasError('required')" class="p-invalid">
            {{ 'general.transportCall.validation.terminal.empty' | translate }}
          </span>
        </div>
        <div class="p-field p-col-12 p-md-4"></div>
      </div>

      <!-- Discharge Port -->
      <h4>{{ 'general.port.label' | translate }}</h4>
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-4">
          <label for="dischargePort">Discharge {{ 'general.port.ofCall' | translate }}:</label>
          <p-dropdown appendTo="body" formControlName="dischargePort" id="dischargePort"
                      class="portOfCall__dropDown"
                      [options]="portOptions"
                      [filter]="true"
                      (onChange)="portSelected(true)"
                      filterBy="label,value.name">
            <ng-template let-port pTemplate="item">
              <div *ngIf="!port.value">
                <div>Select port</div>
              </div>
              <div *ngIf="port.value">
                <div>{{port.value.unLocode}}</div>
                <div class="portListName">{{port.value.name}}</div>
              </div>
            </ng-template>
          </p-dropdown>
          <span *ngIf="transportCallFormGroup.get('dischargePort').hasError('required')" class="p-invalid">
           {{ 'general.transportCall.validation.port.empty' | translate }}
          </span>
        </div>

        <!-- Discharge Terminal -->
        <div class="p-field p-col-12 p-md-4">
          <label for="dischargeTerminal">Discharge {{ 'general.terminal.label' | translate }}:</label>
          <p-dropdown appendTo="body" formControlName="dischargeTerminal" id="dischargeTerminal"
                      class="portOfCall__dropDown"
                      [options]="dischargeTerminalOptions"
                      [filter]="true"
                      filterBy="label,value.name">
            <ng-template let-terminal pTemplate="item">
              <div *ngIf="!terminal.value">
                <div>Select Terminal</div>
              </div>
              <div *ngIf="terminal.value">
                <div>{{terminal.value.smdgCode}}</div>
                <div class="portListName">{{terminal.value.terminalName}}</div>
              </div>
            </ng-template>
          </p-dropdown>
          <span *ngIf="transportCallFormGroup.get('dischargeTerminal').hasError('required')" class="p-invalid">
            {{ 'general.transportCall.validation.terminal.empty' | translate }}
          </span>
        </div>
      </div>

      <!-- Vessle -->
      <div class="dropDownDiv p-col-12 p-md-4">
        <label for="vessel">Vessel:</label>
        <p-dropdown id="vessel" formControlName="vessel" (onChange)="selectVessel()" [(ngModel)]="selectedVessel" [filter]="true"
                    [options]="vessels" autofocus="true">
        </p-dropdown>
      </div>
    </div>

    <div class="p-field p-col-12 p-md-4"></div>

    <!-- Load -->
    <div class="p-field p-col-12 p-md-4">
      <label for="loadSequenceNumber">Load Call Sequence Numbers:</label>
      <input formControlName="loadCallSequenceNumber" id="loadSequenceNumber" pInputText style="width: 100%"
             type="text"/>
      <span *ngIf="transportCallFormGroup.get('loadCallSequenceNumber').hasError('required')" class="p-invalid">
        {{ 'general.transportCall.validation.sequenceNumber.empty' | translate }}
      </span>
      <span *ngIf="transportCallFormGroup.get('loadCallSequenceNumber').hasError('max')" class="p-invalid">
        {{ 'general.transportCall.validation.sequenceNumber.length' | translate }}
      </span>
      <span *ngIf="transportCallFormGroup.get('loadCallSequenceNumber').hasError('min')" class="p-invalid">
        {{ 'general.transportCall.validation.sequenceNumber.length' | translate }}
      </span>

    <!-- Discharge -->
      <label for="dischargeSequenceNumber">Discharge Call Sequence Numbers:</label>
      <input formControlName="dischargeCallSequenceNumber" id="dischargeSequenceNumber" pInputText style="width: 100%"
             type="text"/>
      <span *ngIf="transportCallFormGroup.get('dischargeCallSequenceNumber').hasError('required')" class="p-invalid">
        {{ 'general.transportCall.validation.sequenceNumber.empty' | translate }}
      </span>
      <span *ngIf="transportCallFormGroup.get('dischargeCallSequenceNumber').hasError('max')" class="p-invalid">
        {{ 'general.transportCall.validation.sequenceNumber.length' | translate }}
      </span>
      <span *ngIf="transportCallFormGroup.get('dischargeCallSequenceNumber').hasError('min')" class="p-invalid">
        {{ 'general.transportCall.validation.sequenceNumber.length' | translate }}
      </span>
    </div>

  </div>
  <div class="p-grid">
    <div class="p-col-8"></div>
    <div class="p-col-4 footer_option" style="; justify-content: flex-end">
      <p-button class="footer_option__buttons"
                icon="pi pi-times-circle" label="{{'general.close.label' | translate}}" iconPos="left">
      </p-button>
      <p-button label="{{'general.transportCall.table.create.tooltip' | translate}}" iconPos="left"
                class="footer_option__buttons"
                icon="pi pi-save"
                (onClick)="saveNewTransportCall()"
                [disabled]="transportCallFormGroup.invalid">

        <p-progressSpinner *ngIf="creationProgress" [style]="{width: '18px', height: '18px'}"
                           styleClass="custom-spinner"
                           strokeWidth="3"
                           animationDuration=".9s">
        </p-progressSpinner>
      </p-button>

    </div>
  </div>
</form>
