<form [formGroup]="transportCallFormGroup">
  <h4>{{ 'general.transportCall.label' | translate }}</h4>
  <div class="p-fluid p-formgrid p-grid">

    <div class="p-field p-col-12 p-md-4">
      <label for="serviceCode">{{ 'general.transportCall.table.carrierServiceCode.label' | translate }}:</label>
      <input id="serviceCode" formControlName="serviceCode" pInputText style="width: 100%" type="text"/>
      <span
        *ngIf="transportCallFormGroup.get('serviceCode').hasError('required') && transportCallFormGroup.get('serviceCode').touched"
        class="p-invalid">
        {{ 'general.transportCall.validation.carrierServiceCode.empty' | translate }}
      </span>
      <span *ngIf="transportCallFormGroup.get('serviceCode').hasError('maxlength')" class="p-invalid">
        {{ 'general.transportCall.validation.carrierServiceCode.length' | translate }}
      </span>
    </div>

    <div class="p-field p-col-12 p-md-4">
      <label for="voyageNumber">{{ 'general.transportCall.table.carrierVoyageNumber.label' | translate }}:</label>
      <input id="voyageNumber" formControlName="voyageNumber" pInputText style="width: 100%" type="text"/>
      <span
        *ngIf="transportCallFormGroup.get('voyageNumber').hasError('required') && transportCallFormGroup.get('voyageNumber').touched"
        class="p-invalid">{{ 'general.transportCall.validation.carrierVoyageNumber.empty' | translate }}
      </span>
      <span *ngIf="transportCallFormGroup.get('voyageNumber').hasError('maxlength')" class="p-invalid">
        {{ 'general.transportCall.validation.carrierVoyageNumber.length' | translate }}
      </span>
    </div>


    <div class="p-field p-col-12 p-md-8"></div>

    <!-- UN Location Code + Facility SMDG Code -->
    <div class="p-field p-col-12 p-md-12">
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-4">
          <label for="portOfCall">{{ 'general.port.ofCall' | translate }}:</label>
          <p-dropdown appendTo="body" formControlName="port" id="portOfCall" class="portOfCall__dropDown"
                      [options]="portOptions" [filter]="true" (onChange)="portSelected()" filterBy="label,value.name">
            <ng-template let-port pTemplate="item">
              <div *ngIf="!port.value">
                <div>Select port</div>
              </div>
              <div *ngIf="port.value">
                <div>{{port.value.unLocode}}</div>
                <div class="portListName">{{port.value.name}}</div>
              </div>
            </ng-template>
          </p-dropdown>
          <span *ngIf="transportCallFormGroup.get('port').hasError('required')" class="p-invalid">
            {{ 'general.transportCall.validation.port.empty' | translate }}
          </span>
        </div>
        <div class="p-field p-col-12 p-md-4">
          <label for="terminal">{{ 'general.terminal.label' | translate }}:</label>
          <p-dropdown appendTo="body" formControlName="terminal" id="terminal" class="portOfCall__dropDown"
                      [options]="terminalOptions" [filter]="true" filterBy="label,value.name">
            <ng-template let-terminal pTemplate="item">
              <div *ngIf="!terminal.value">
                <div>Select Terminal</div>
              </div>
              <div *ngIf="terminal.value">
                <div>{{terminal.value.smdgCode}}</div>
                <div class="portListName">{{terminal.value.terminalName}}</div>
              </div>
            </ng-template>
          </p-dropdown>
          <span *ngIf="transportCallFormGroup.get('terminal').hasError('required')" class="p-invalid">
            {{ 'general.transportCall.validation.terminal.empty' | translate }}
          </span>
        </div>
        <div class="p-field p-col-12 p-md-4"></div>

      </div>
    </div>

    <!-- Vessels -->
    <div class="p-field p-col-12 p-md-4">
      <label for="vessels">{{ 'general.vessel.label' | translate }}:</label>
      <p-dropdown appendTo="body" formControlName="vessel" id="vessels" class="vessels__dropDown"
                  [options]="vesselOptions" [filter]="true" (onChange)="portSelected()" filterBy="label,value.name">
        <ng-template let-vessel pTemplate="item">
          <div *ngIf="!vessel.value">
            <div>Select vessel</div>
          </div>
          <div *ngIf="vessel.value">
            <div>{{vessel.value.vesselName}}</div>
            <div class="portListName">{{vessel.value.name}}</div>
          </div>
        </ng-template>
      </p-dropdown>
      <span *ngIf="transportCallFormGroup.get('vessel').hasError('required')" class="p-invalid">
        {{ 'general.transportCall.validation.vessel.noVesselSelected' | translate }}
      </span>
    </div>

    <!-- FacilityTypeCode -->
    <div class="p-field p-col-12 p-md-4">
      <label for="facilityTypeCodes">{{ 'general.facilityTypeCode.label' | translate }}:</label>
      <p-dropdown appendTo="body" formControlName="facilityTypeCode" id="facilityTypeCodes"
                  class="facilityTypeCodes__dropDown"
                  [options]="facilityTypeCodeOptions" [filter]="true" filterBy="label,value.name">
        <ng-template let-facilityTypeCode pTemplate="item">
          <div *ngIf="!facilityTypeCode.value">
            <div>Select facility type code</div>
          </div>
          <div *ngIf="facilityTypeCode.value">
            <div>{{facilityTypeCode.value}}</div>
            <div class="portListName">{{facilityTypeCode.value.name}}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>

  </div>

  <!-- TIMESTAMP -->
  <h4>{{ 'general.timestamp.label' | translate }}</h4>
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12 p-md-4">
      <label for="timestampType">{{ 'general.table.header.timestamp.label' | translate }}: </label>
      <p-dropdown id="timestampType" formControlName="timestampType" styleClass="dropdown" [options]="timestampTypes">
      </p-dropdown>
    </div>

    <div class="p-field p-col-12 p-md-5">
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6">
          <p-calendar id="eventtimestamp" appendTo="body" formControlName="eventTimestampDate" hourFormat="24"
                      [monthNavigator]="true" [showButtonBar]="false"
                      [showIcon]="true" [showWeek]="true"
                      [yearNavigator]="true" yearRange="2010:2030"
                      styleClass="date-time-date-field" placeholder="{{ 'general.timestamp.date.event' | translate }}"
                      [panelStyleClass]="'datetime-panel'"
                      [disabled]="!shouldCreateTimestamp()">
          </p-calendar>
        </div>
        <div class="p-field p-col-12 p-md-6">
          <p-inputMask formControlName="eventTimestampTime" mask="99:99"
                       placeholder="{{ 'general.timestamp.time' | translate }}"
                       [disabled]="!shouldCreateTimestamp()"
                       styleClass="datetime-time-time-field">
          </p-inputMask>
          <button type="button" pButton pRipple icon="pi pi-clock" styleClass="p-button-success"
                  [disabled]="!shouldCreateTimestamp()" (click)="setEventTimestampToNow()">
          </button>
        </div>
      </div>
    </div>

    <div class="p-field p-col-12 p-md-5">
      <label for="delayCode">{{"general.delaycode.label" | translate}}</label>
      <p-dropdown id="delayCode" [options]="delayCodeOptions" formControlName="delayCode" [filter]="true"
                  filterBy="label,value.name" [group]="false" [disabled]="!shouldCreateTimestamp()">
        <ng-template let-delayCode pTemplate="selectedItem">
          <div *ngIf="delayCode.value" class="delayCodeSelectedWrapper">
            <div class="delayCodeSelected__smdgCode">{{delayCode.value.smdgCode}}</div>
            <div class="delayCodeSelected__delayType">&nbsp;&middot;&nbsp;{{delayCode.value.delayType}}
            </div>
            <div class="delayCodeSelected__delayDetails">&nbsp;&middot;&nbsp;{{delayCode.value.name}}</div>
            <div class="delayCodeSelected__delayDetails">&nbsp;&middot;&nbsp;{{delayCode.value.description}}</div>
          </div>
          <div *ngIf="!delayCode.value">
            <div>{{delayCode.label}}</div>
          </div>
        </ng-template>
        <ng-template let-delayCode pTemplate="item">
          <div class="delayCodeDetails" *ngIf="delayCode.value">
            <div class="delayCodeDetails__smdgCode">{{delayCode.value.smdgCode}}</div>
            <div class="delayCodeDetails__delayType">{{delayCode.value.delayType}}</div>
            <div class="delayCodeDetails__delayName">{{delayCode.value.name}}</div>
            <div class="delayCodeDetails__delaydescription">{{delayCode.value.description}}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="p-field p-col-12 p-md-7">
    </div>


    <div class="p-field p-col-12 p-md-6">
      <span class="p-float-label">
        <textarea class="commentBox" id="commentbox" pInputTextarea formControlName="defaultTimestampRemark"
                  [readOnly]="!shouldCreateTimestamp()"></textarea>
        <label for="commentbox">{{ 'general.comment.tooltip' | translate }}</label>
      </span>
    </div>
    <div class="p-field p-col-12 p-md-6">
    </div>
  </div>

  <div class="p-grid">
    <div class="p-col-8">
    </div>
    <div class="p-col-4 footer_option" style="justify-content: flex-end">
      <p-button class="footer_option__buttons" icon="pi pi-times-circle" (onClick)="close()"
                label="{{'general.close.label' | translate}}"
                iconPos="left">
      </p-button>
      <p-button label="{{ createButtonText() |translate }}" iconPos="left" class="footer_option__buttons"
                icon="pi pi-save" (onClick)="saveNewTransportCall()" [disabled]="transportCallFormGroup.invalid">

        <p-progressSpinner *ngIf="creationProgress" [style]="{width: '18px', height: '18px'}"
                           styleClass="custom-spinner" strokeWidth="3" animationDuration=".9s"></p-progressSpinner>
      </p-button>

    </div>
  </div>

</form>
