<div class="p-fluid">

  <p-card header="Instructions" [style]="{width: '100%'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
      <img style="object-fit: cover; object-position: 0 80%; height: 220px" alt="Card"
           src="assets/JIT-Port-Call-Image.jpg">
    </ng-template>
    <p>
      Below are the explanations of the timestamps. Please fill these timestamps as detailed as possible and add every
      change that is communicated by the Terminal Operator, Port, or you as Carrier. This will give us a detailed view
      of how often the estimated times of arrival, cargo operations and departure change. Note that for cargo
      operations, not every change is absolutely necessary, just a good overview of the ETC 12 hours, 6 hours and 3
      hours before the end. Thank you very much for your time and effort!
    </p>

    <div class="p-grid">
      <div class="p-col-fixed" style="width:140px"><b>ETA BERTH</b></div>
      <div class="p-col">Estimated time of arrival at berth of vessel</div>
    </div>
    <div class="p-grid">
      <div class="p-col-fixed" style="width:140px"><b>RTA BERTH</b></div>
      <div class="p-col">Time of arrival at berth as requested by the terminal operator</div>
    </div>
    <div class="p-grid">
      <div class="p-col-fixed" style="width:140px"><b>PTA BERTH</b></div>
      <div class="p-col">Planned time of arrival at berth. When a vessel operator (or his agent) confirmed the requested
        time of arrival berth to the terminal operator.
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-fixed" style="width:140px"><b>ETA PBP</b></div>
      <div class="p-col">Estimated time of arrival at pilot boarding place or zone. This is communicated by the vessel /
        agent to the port authority.
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-fixed" style="width:140px"><b>RTA PBP</b></div>
      <div class="p-col">Time of arrival at pilot boarding place as requested by the port authority or pilot
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-fixed" style="width:140px"><b>PTA PBP</b></div>
      <div class="p-col">Planned time of arrival at pilot boarding place. When a vessel operator (or his agent)
        confirmed the requested time of arrival PBP to the pilot/port authority.
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-fixed" style="width:140px"><b>ATA PBP</b></div>
      <div class="p-col">The actual time of arrival of the vessel at Berth
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-fixed" style="width:140px"><b>ATA BERTH</b></div>
      <div class="p-col">The actual time of arrival of the vessel at pilot boarding place
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-fixed" style="width:140px"><b>ATS CARGO OPS</b></div>
      <div class="p-col">The actual time at which the cargo operations has started (first commercial lift)
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-fixed" style="width:140px"><b>ETC CARGO OPS</b></div>
      <div class="p-col">Estimated time of completion cargo operations. The estimate is usually based on the estimated productivity to perform the total number of moves
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-fixed" style="width:140px"><b>RTC CARGO OPS</b></div>
      <div class="p-col">The requested time at which the vessel operator or agent would like the cargo operations to finish (last commercial lift) e.g. The vessel operator might request an earlier departure in case of cut & run      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-fixed" style="width:140px"><b>PTC CARGO OPS</b></div>
      <div class="p-col">The agreed upon planned time of completion of cargo operations</div>
    </div>
    <div class="p-grid">
      <div class="p-col-fixed" style="width:140px"><b>ATC CARGO OPS</b></div>
      <div class="p-col">The actual time of completion of cargo operations (last commercial lift)</div>
    </div>
    <div class="p-grid">
      <div class="p-col-fixed" style="width:140px"><b>ETD BERTH</b></div>
      <div class="p-col">The estimated time of departure from the berth</div>
    </div>
    <div class="p-grid">
      <div class="p-col-fixed" style="width:140px"><b>RTD BERTH</b></div>
      <div class="p-col">The requested time of departure from berth, as requested by the port authority </div>
    </div>
    <div class="p-grid">
      <div class="p-col-fixed" style="width:140px"><b>PTD BERTH</b></div>
      <div class="p-col">Planned time of departure of the vessel from berth. This is the confirmation from the vessel of the requested time of departure done by the vessel operator/agent or captain </div>
    </div>
    <div class="p-grid">
      <div class="p-col-fixed" style="width:140px"><b>ATD BERTH</b></div>
      <div class="p-col">Actual time of departure from berth </div>
    </div>


  </p-card>
</div>
