<div class="portOfCall">
  <p-card class="card">
    <div class="portOfCall__content">
      <span class="portOfCall__header">{{ 'general.port.ofCall' | translate }}</span>
      <p-dropdown class="portOfCall__dropDown"
        (onChange)="selectPortOfCall()"
        [(ngModel)]="portOfCall"
        [filter]="true"
        [showClear]=true
        [options]="portOptions"
        filterBy="label,value.UNLocationCode">
        <ng-template let-port pTemplate="item">
          <div *ngIf="!port.value">
            <div>Select port</div>
          </div>
          <div *ngIf="port.value">
            <div>{{port.value.UNLocationCode}}</div>
            <div class="portListName">{{port.value.UNLocationName}}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
  </p-card>
</div>
