<div class="portOfCall">
  <p-card class="card">
    <div class="portOfCall__content">
      <span class="portOfCall__header">{{ 'general.port.ofCall' | translate }}</span>
      <p-dropdown class="portOfCall__dropDown"
        (onChange)="selectPortOfCall()"
        [(ngModel)]="portOfCall"
        [filter]="true"
        [showClear]=true
        optionLabel="UNLocationCode"
        [options]="portOfCalls$ | async"
        filterBy="name,UNLocationCode"
        placeholder="{{ 'general.port.select' | translate }}">
        <ng-template let-port pTemplate="item">
          <div *ngIf="port">
            <div>{{port.UNLocationCode}}</div>
            <div class="portListName">{{port.UNLocationName}}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
  </p-card>
</div>