<div class="portOfCall">
  <p-card class="card">
    <div class="portOfCall__content">
      <span class="portOfCall__header">{{ 'general.port.ofCall' | translate }}</span>
      <p-dropdown class="portOfCall__dropDown"
        (onChange)="selectPortOfCall()"
        [(ngModel)]="portOfCall"
        [filter]="true"
        [options]="portOptions"
        filterBy="label,value.UNLocationCode">
        <ng-template let-port pTemplate="item">
          <div *ngIf="!port.value">
            <div>Select port</div>
          </div>
          <div *ngIf="port.value">
            <div>{{port.value.unLocationName}}</div>
            <div class="portListName">{{port.value.UNLocationCode}}</div>
          </div>
        </ng-template>
      </p-dropdown>
      <span class="portOfCall__header">{{ 'general.terminal.label' | translate }}</span>
      <p-dropdown  [disabled]="!portOfCall" class="portOfCall__dropDown"
                  (onChange)="selectTerminal()"
                  [(ngModel)]="terminal"
                  [filter]="true"
                  [options]="terminalOptions"
                  filterBy="label,value.facilityName">
        <ng-template let-terminal pTemplate="item">
          <div *ngIf="!terminal.value">
            <div>Select Terminal</div>
          </div>
          <div *ngIf="terminal.value">
            <div>{{terminal.value.facilitySMDGCode}}</div>
            <div class="portListName">{{terminal.value.facilityName}}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
  </p-card>
</div>
