<p-table [value]="timestamps">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 7%">Timestamp</th>
      <th style="width: 5%">Classifier Code</th>
      <th style="width: 5%">Event Type Code</th>
      <th style="width: 5%">Event Location</th>
      <th>Comm. Timestamp</th>
      <th>Event. Timestamp</th>
      <th style="width: 7%">Port From</th>
      <th style="width: 7%">Port To</th>
      <th style="width: 7%">Next Port</th>
      <th style="width: 7%">Direction</th>
      <th style="width: 7%">Terminal ID</th>
      <th>Location ID</th>
      <th style="width: 5%">Option</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-timestamp>
    <tr>
      <td style="width: 7%">{{ timestamp.timestampType }}</td>
      <td style="width: 5%">{{ timestamp.classifierCode }}</td>
      <td style="width: 5%">{{ timestamp.eventTypeCode }}</td>
      <td style="width: 5%">{{ timestamp.eventLocationCode }}</td>
      <td>{{ timestamp.communicationTimestamp | date: 'MM/dd/yyyy HH:dd ZZZZ' }}</td>
      <td>{{ timestamp.eventTimestamp | date: 'MM/dd/yyyy HH:dd ZZZZ' }}</td>
      <td style="width: 7%">{{ timestamp.portFrom }}</td>
      <td style="width: 7%">{{ timestamp.portTo }}</td>
      <td style="width: 7%">{{ timestamp.nextPort }}</td>
      <td style="width: 7%">{{ timestamp.direction }}</td>
      <td style="width: 7%">{{ timestamp.terminalId }}</td>
      <td>{{ timestamp.locationId }}</td>
      <td style="width: 5%"><p-button icon="pi pi-trash"></p-button></td>
    </tr>
  </ng-template>
</p-table>
