<p-table #dt [value]="$timestamps | async" sortField="logOfTimestamp" [sortOrder]="1" [filterDelay]="0"
         [globalFilterFields]="['timestampType','classifierCode','eventTypeCode','portOfCall','portPrevious', 'portNext']">
  <ng-template pTemplate="caption">
    <div class="p-grid">
      <div class="p-col"></div>
      <div class="p-col"></div>
      <div class="p-col globalSearch">
        <div class="p-input-icon-left globalSearch">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                 placeholder="Search in table" class="p-column-filter"
                 pTooltip="This enables table search containing for Timestamp, Classifier Code, Event Type Code, Port From, Port To and Next Port">
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 7%" pSortableColumn="timestampType">Timestamp
        <p-sortIcon field="timestampType"></p-sortIcon>
      </th>
      <th style="width: 5%" pSortableColumn="classifierCode">Classifier Code
        <p-sortIcon field="classifierCode"></p-sortIcon>
      </th>
      <th style="width: 5%" pSortableColumn="eventTypeCode">Event Type Code
        <p-sortIcon field="eventTypeCode"></p-sortIcon>
      </th>
      <th pSortableColumn="logOfTimestamp">Log of Timestamp
        <p-sortIcon field="logOfTimestamp"></p-sortIcon>
      </th>
      <th pSortableColumn="eventTimestamp">Event. Timestamp
        <p-sortIcon field="eventTimestamp"></p-sortIcon>
      </th>
      <th style="width: 7%" pSortableColumn="portPrevious">Previous Port
        <p-sortIcon field="portPrevious"></p-sortIcon>
      </th>
      <th style="width: 7%" pSortableColumn="portOfCall">Port of Call
        <p-sortIcon field="portOfCall"></p-sortIcon>
      </th>
      <th style="width: 7%" pSortableColumn="portNext">Next Port
        <p-sortIcon field="portNext"></p-sortIcon>
      </th>
      <th style="width: 7%" pSortableColumn="direction">Direction
        <p-sortIcon field="direction"></p-sortIcon>
      </th>
      <th style="width: 7%" pSortableColumn="terminalId">Terminal ID
        <p-sortIcon field="terminalId"></p-sortIcon>
      </th>
      <th pSortableColumn="locationId">Location ID
        <p-sortIcon field="locationId"></p-sortIcon>
      </th>
      <th style="width: 5%">Option</th>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-timestamp>
    <tr>
      <td style="width: 7%">{{ timestamp.timestampType }}</td>
      <td style="width: 5%">{{ timestamp.classifierCode }}</td>
      <td style="width: 5%">{{ timestamp.eventTypeCode }}</td>
      <td>{{ timestamp.logOfTimestamp | date: 'MM/dd/yyyy HH:dd ZZZZ' }}</td>
      <td>{{ timestamp.eventTimestamp | date: 'MM/dd/yyyy HH:dd ZZZZ' }}</td>
      <td style="width: 7%"><div>{{ (timestamp.portPrevious | portIdToPort: ports).unLocode}}</div><div class="rowDetails">{{ (timestamp.portPrevious | portIdToPort: ports).name}}</div></td>
      <td style="width: 7%"><div>{{ (timestamp.portOfCall | portIdToPort: ports).unLocode}}</div><div class="rowDetails">{{ (timestamp.portOfCall | portIdToPort: ports).name}}</div></td>
      <td style="width: 7%"><div>{{ (timestamp.portNext | portIdToPort: ports).unLocode}}</div><div class="rowDetails">{{ (timestamp.portNext | portIdToPort: ports).name}}</div></td>
      <td style="width: 7%">{{ timestamp.direction }}</td>
      <td style="width: 7%"><div>{{ (timestamp.terminal | terminalIdToTerminal: terminals).smdgCode}}</div><div class="rowDetails">{{(timestamp.terminal | terminalIdToTerminal: terminals).terminalName}}</div></td>
      <td>{{ timestamp.locationId }}</td>
      <td style="width: 5%">
        <p-button icon="pi pi-trash"></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>
