@import "DCSA-Theme";

.rowDetails {
  color: $darkGrey;
  text-transform: capitalize;
  font-size: 12px;
}

.terminalListDetails {
  color: $darkGrey;
  text-transform: capitalize;
  font-size: 12px;
}
