<p-table [value]="$timestamps | async">
  <ng-template pTemplate="body" let-timestamp>
    <tr>
      <td style="width: 7%; padding-left: 0">
        <p-dropdown [(ngModel)]="timestamp.timestampType" [options]="timestampTypes"></p-dropdown>
      </td>
      <td style="width: 5%">{{ timestamp.classifierCode }}</td>
      <td style="width: 5%">{{ timestamp.eventTypeCode }}</td>
      <td>
        <p-calendar [(ngModel)]="logOfTimestamp" hourFormat="24" monthNavigator="true" showButtonBar="true" showIcon="true"
                    showTime="true"
                    showWeek="true" yearNavigator="true" yearRange="2010:2030"></p-calendar>
      </td>
      <td>
        <p-calendar [(ngModel)]="eventTimestamp" hourFormat="24" monthNavigator="true" showButtonBar="true" showIcon="true"
                    showTime="true" showWeek="true" yearNavigator="true" yearRange="2010:2030"></p-calendar>
      </td>
      <td style="width: 7%">
        <p-dropdown [(ngModel)]="timestamp.portFrom" [filter]="true" [options]="ports">
          <ng-template let-port pTemplate="item">
            <div class="port-item">
              <div>{{port.value.unLocode}}</div>
              <div class="portListName">{{port.value.name}}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </td>
      <td style="width: 7%">
        <p-dropdown [(ngModel)]="timestamp.portOfCall" [filter]="true" [options]="ports" (onChange)="selectPortOfCall(timestamp.portOfCall.id)">
          <ng-template let-port pTemplate="item">
            <div class="port-item">
              <div>{{port.value.unLocode}}</div>
              <div class="portListName">{{port.value.name}}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </td>
      <td style="width: 7%">
        <p-dropdown [(ngModel)]="timestamp.portNext" [filter]="true" [options]="ports">
          <ng-template let-port pTemplate="item">
            <div class="port-item">
              <div>{{port.value.unLocode}}</div>
              <div class="portListName">{{port.value.name}}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </td>
      <td style="width: 7%">
        <p-dropdown [(ngModel)]="timestamp.direction" [options]="directions"></p-dropdown>
      </td>
      <td style="width: 7%">
        <p-dropdown [(ngModel)]="timestamp.terminalId" [options]="terminals" [disabled]="timestamp.portOfCall == null">
          <ng-template let-terminal pTemplate="item">
            <div class="port-item">
              <div>{{terminal.value.smdgCode}}</div>
              <div class="terminalListDetails">{{terminal.value.terminalName}}</div>
              <div class="terminalListDetails">{{terminal.value.terminalOperator}}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </td>
      <td><label><input type="text" pInputText [(ngModel)]="timestamp.locationId"/></label></td>
      <td style="width: 5%">
        <p-button icon="pi pi-comment"></p-button>
        <p-button icon="pi pi-save" (onClick)="savePortcallTimestamp(timestamp, vesselId)"></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-toast key="TimestampAddSuccess" position="bottom-right"></p-toast>
<p-toast key="TimestampAddError" position="bottom-right"></p-toast>
