<h4>For Transport-Call {{ transportCall.transportCallSequenceNumber}}
</h4>
<div class="headline">
  <p-card styleClass="card-scondary">
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-md-4">
        <label class="label-compressed" for="vesselName">{{'general.transportCall.table.vesselName.label'| translate}}
          : </label>
        <span id="vesselName"> {{transportCall.vesselName}}</span>
      </div>
      <div class="p-field p-col-12 p-md-4">
        <label class="label-compressed" for="portOfCall">{{'general.port.ofCall'| translate}}: </label>
        <span id="portOfCall" *ngIf="responseTimestamp.portOfCall != null">
          {{$any(responseTimestamp.portOfCall).unLocationCode}} </span>
        <!-- {{defaultTimestamp.portOfCall.unLocode}} </span> -->
      </div>
      <div class="p-field p-col-12 p-md-4">
        <!-- Placeholder for additional information -->
      </div>
      <div class="p-field p-col-12 p-md-4">
        <label class="label-compressed" for="vesselIMO">{{'general.transportCall.table.vesselImo.label'| translate}}
          : </label>
        <span id="vesselIMO"> {{transportCall.vesselIMONumber}}</span>
      </div>
      <div class="p-field p-col-12 p-md-4" *ngIf="responseTimestamp != null">
        <!-- Placeholder for additional information when rejecting timestamp -->
        <label class="label-compressed" for="eventtimestamp">{{'general.table.header.eventTimestamp.acceptedLabel' |
          translate }}: </label>
        <span style="font-weight: bold;">{{ " " +(responseTimestamp.eventDateTime | timestampToTimezone:
          responseTimestamp.portOfCall)[0]}}</span>
      </div>
      
      <div class="p-field p-col-12 p-md-2" *ngIf="responseTimestamp != null"></div>
      <div class="p-field p-col-12 p-md-4" *ngIf="responseTimestamp != null">
        <!-- Placeholder for additional information when rejecting timestamp -->
        <label class="label-compressed" for="eventtimestamp">{{'general.table.header.timestamp.acceptlabel' |
          translate }}</label>
        <span style="font-weight: bold;">{{": " + responseTimestamp.timestampDefinition.timestampTypeName}}</span>
      </div>
    </div>
  </p-card>
</div>

<div class="p-fluid p-formgrid p-grid">

  <div class="p-field p-col-12 p-md-4">

    <div [hidden]="!showTerminalOption()">
      <label for="terminalSelected">{{ 'general.terminal.label' | translate }}: </label>
      <p-dropdown id="terminalSelected" styleClass="dropdown" [(ngModel)]="terminalSelected" [options]="terminalOptions"
        [filter]=true filterBy="label,value.facilityName" appendTo="body">
        <ng-template let-terminal pTemplate="item">
          <div *ngIf="!terminal.value">
            <div>Select Terminal</div>
          </div>
          <div *ngIf="terminal.value">
            <div>{{terminal.value.facilitySMDGCode}}</div>
            <div class="portListName">{{terminal.value.facilityName}}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="p-field berth-location-field" [hidden]="!showLocationNameOption()">
      <label for="locationName">{{ locationNameLabel | translate }}:</label>
      <input id="locationName" [(ngModel)]="locationName" pInputText style="width: 100%" type="text" />
    </div>
  </div>

  <div class="p-field p-col-12 p-md-6"></div>

  <div class="p-field p-col-12 p-md-4">

    <label for="delayCode">{{"general.delaycode.label" | translate}}</label>
    <p-dropdown appendTo="body" id="delayCode" [options]="delayCodeOptions" [(ngModel)]="delayCode" [filter]="true"
      filterBy="label,value.name" [group]="false">
      <ng-template let-delayCode pTemplate="selectedItem">
        <div *ngIf="delayCode.value" class="delayCodeSelectedWrapper">
          <div class="delayCodeSelected__smdgCode">{{delayCode.value.smdgCode}}</div>
          <div class="delayCodeSelected__delayType">&nbsp;&middot;&nbsp;{{delayCode.value.delayType}}
          </div>
          <div class="delayCodeSelected__delayDetails">&nbsp;&middot;&nbsp;{{delayCode.value.name}}</div>
          <div class="delayCodeSelected__delayDetails">&nbsp;&middot;&nbsp;{{delayCode.value.description}}</div>
        </div>
        <div *ngIf="!delayCode.value">
          <div>{{delayCode.label}}</div>
        </div>
      </ng-template>
      <ng-template let-delayCode pTemplate="item">
        <div class="delayCodeDetails" *ngIf="delayCode.value">
          <div class="delayCodeDetails__smdgCode">{{delayCode.value.smdgCode}}</div>
          <div class="delayCodeDetails__delayType">{{delayCode.value.delayType}}</div>
          <div class="delayCodeDetails__delayName">{{delayCode.value.name}}</div>
          <div class="delayCodeDetails__delaydescription">{{delayCode.value.description}}</div>
        </div>
      </ng-template>
    </p-dropdown>
  </div>

  <div class="p-field p-col-12 p-md-6"></div>

  <div class="p-field p-col-12 p-md-2"></div>
  <div class="p-field p-col-12 p-md-5">
    <span class="p-float-label">
      <textarea class="commentBox" id="commentbox" pInputTextarea [(ngModel)]="responseTimestamp.remark"></textarea>
      <label for="commentbox">{{ 'general.comment.tooltip' | translate }}</label>
    </span>
  </div>

  <div class="p-field p-col-12 p-md-2"></div>


  <div class="p-field p-col-12 p-md-2"></div>
  <!-- Vessel Position -->
  <div class="p-field p-col-12 p-md-4" [hidden]="!showVesselPosition()">
    <label for="vesselPositionLatitude">{{ "general.timestamp.vesselPosition.latitude.label" | translate }}:</label>
    <input id="vesselPositionLatitude" [(ngModel)]="vesselPosition.latitude" pInputText style="width: 100%"
      type="text" />
  </div>
  <div class="p-field p-col-12 p-md-4" [hidden]="!showVesselPosition()">
    <label for="vesselPositionLongitude">{{ "general.timestamp.vesselPosition.longitude.label" | translate }}:</label>
    <input id="vesselPositionLongitude" [(ngModel)]="vesselPosition.longitude" pInputText style="width: 100%"
      type="text" />
  </div>
  <div class="p-field p-col-12 p-md-6"></div>
</div>

<div class="p-grid">
  <div class="p-col-8">
  </div>
  <div class="p-col-4 footer_option" style="justify-content: flex-end">
    <p-button (onClick)="close()" class="footer_option__buttons" icon="pi pi-times-circle"
      label="{{'general.close.label' | translate}}" iconPos="left">
    </p-button>
    <p-button (onClick)="savePortcallTimestamp(responseTimestamp)" class="footer_option__buttons"
      icon="pi pi-save" label="{{'general.save.Accepteditor.label' | translate}}"
      iconPos="left">
      <p-progressSpinner *ngIf="creationProgress" [style]="{width: '18px', height: '18px'}" styleClass="custom-spinner"
        strokeWidth="3" animationDuration=".9s"></p-progressSpinner>
    </p-button>

  </div>
</div>