<div class="vessel">
  <p-card>
    <p-header class="vessel__header">
      <span i18n="@@vessel">Vessel</span>
    </p-header>
    <div class="p-grid">
      <div class="p-col-1">
        <p-button (onClick)="createNewVessel()" class="p-button-raised p-button-rounded vessel__addVesselBtn" icon="pi pi-plus" type="button" pTooltip="{{this.toolTips.addVesselTT}}" tooltipPosition="top"
                  tooltipStyleClass="ToolTipClass"></p-button>
        <p-button (onClick)="editVessel()" [disabled]="!selectedVessel" class="p-button-raised p-button-rounded" icon="pi pi-pencil" type="button" pTooltip="{{this.toolTips.editVesselTT}}" tooltipPosition="top"
                  tooltipStyleClass="ToolTipClass"></p-button>
      </div>
      <div class="p-col-3">
        <p-dropdown [options]="vessels" [(ngModel)]="selectedVessel" [filter]="true" (onChange)="selectVessel()"></p-dropdown>
      </div>
      <div class="p-col-1 vessel__vesselDetails"><span i18n="@@vessel__imo_number">Imo number:</span></div>
      <div class="p-col-1 vessel__vesselDetails"><span *ngIf="selectedVessel">{{ selectedVessel.imo }}</span></div>
      <div class="p-col-1 vessel__vesselDetails"><span i18n="@@vessel__teu">Vessel size (TEU):</span></div>
      <div class="p-col-1 vessel__vesselDetails"><span *ngIf="selectedVessel">{{ selectedVessel.teu | number }}</span></div>
      <div class="p-col-1 vessel__vesselDetails"><span i18n="@@vessel__service_name">Service name or code:</span></div>
      <div class="p-col-3 vessel__vesselDetails"><span *ngIf="selectedVessel">{{ selectedVessel.serviceNameCode }}</span></div>
    </div>
  </p-card>
</div>
<p-toast key="vesselUpdateSuccess" position="bottom-right"></p-toast>
<p-toast key="vesselUpdateError" position="bottom-right"></p-toast>
<p-toast key="vesselAddSuccess" position="bottom-right"></p-toast>
<p-toast key="vesselAddError" position="bottom-right"></p-toast>
