::ng-deep .p-card .p-card-content {
  padding: 0px 0px !important;
}

::ng-deep .p-card-body {
  padding: 5px 5px 10px 5px !important;
}

.vessel {
  &__content {
    display: flex;
    flex-direction: row;

    &__first {
      display: flex;
      flex-direction: column;
    }
  }

  &__header {
    margin: 10px 15px 0px 15px;
    font-size: 20px;
  }

  &__select_modify {
    display: flex;
    flex-direction: row;

    .dropDownDiv {
      margin-top: 8px;
    }

    &__buttons {
      display: flex;
      flex-direction: row;
      margin: 7px 0px 0px 10px;
      height: 35px !important;
      float: left;

      &__addVesselBtn {
        margin: 0px 5px 0px 0px;
      }
    }
  }

  &__vesselDetails {
    display: flex;
    flex-direction: row;

    &__element {
      padding: 10px 10px 0px 0px;
      width: fit-content;
      min-width: 150px;

      &__label {
        font-weight: bold;
      }
    }
  }

}
