<div class="p-fluid">
  <div class="p-field p-grid">
    <label for="name" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Vessel name</label>
    <div class="p-col-12 p-md-10">
      <input id="name" type="text" pInputText [(ngModel)]=vessel.name>
    </div>
  </div>
  <div class="p-field p-grid">
    <label for="imo" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">IMO</label>
    <div class="p-col-12 p-md-10">
      <input id="imo" type="text" pInputText [(ngModel)]=vessel.imo>
    </div>
  </div>
  <div class="p-field p-grid">
    <label for="teu" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">TEU</label>
    <div class="p-col-12 p-md-10">
      <p-inputNumber id="teu" mode="decimal" [(ngModel)]=vessel.teu></p-inputNumber>
    </div>
  </div>
  <div class="p-field p-grid">
    <label for="serviceName" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Service name or code</label>
    <div class="p-col-12 p-md-10">
      <input id="serviceName" type="text" pInputText [(ngModel)]=vessel.serviceNameCode>
    </div>
  </div>
  <div class="p-field p-grid">
    <span class="p-buttonset">
        <button (click)="saveVessel()" icon="pi pi-check" label="Save" pButton type="button"></button>
        <button (click)="cancel()" class="p-button-warning" icon="pi pi-times" label="Cancel" pButton type="button"></button>
    </span>
  </div>
</div>
