<div class="p-grid header">
  <div class="p-col-1">
    <img class="header__logo" src="assets/DCSA_logo_color_on_dark_background.png">
  </div>
  <div class="p-col-3 header__menuEntryDiv" >
    <button type="button" pButton pRipple icon="pi pi-bars" label="Menu" (click)="menu.toggle($event)"></button>
    <p-menu #menu [popup]="true" [model]="helpMenu"></p-menu>
    
  </div>
  <div class="p-col-1 center-button-in-div" *ngIf="this.authLocalState">
    <amplify-sign-out ></amplify-sign-out>
</div>

  <div class="p-col-1 header__menuLabel">

    <span>{{ 'general.port.call' | translate }}</span>
  </div>
  <div class="p-col-1"></div>
  <div class="p-col-4 header__menuLabel header__company_container">
    <span class="header__company">{{ 'general.company' | translate }}: {{ companyName }}</span>
    <span class="header__info_small">{{companyId}}, roles: {{companyCodeType}}</span>
  </div>
  <div class="p-col-1 header__language">
    <p-dropdown styleClass="dropdown" (onChange)="changeLanguage($event)" [(ngModel)]="currentLanguage" [filter]="true"
                [options]="availableLanguages" [autofocus]="true">
    </p-dropdown>
  </div>
</div>


<p-dialog [modal]="true" header="{{ 'general.download.timestamps.header' | translate }} {{companyName}}" [(visible)]="displayDownloadRequest"
          [style]="{width: '50vw'}" [baseZIndex]="10000">
  <p>{{ 'general.download.timestamps.tooltip' | translate }}</p>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-download" (click)="downloadTimeStamps()" label="{{ 'general.download.label' | translate }}" styleClass="p-button-text"></p-button>
    <p-button icon="pi pi-times" (click)="displayDownloadRequest=false" label="{{ 'general.cancel.label' | translate }}"></p-button>
  </ng-template>
</p-dialog>
<p-toast key="DownloadRequestError" position="bottom-right"></p-toast>
<p-toast key="DownloadRequestSuccess" position="bottom-right"></p-toast>
