<div class="p-fluid">
  <div class="p-field p-grid">
    <label for="name" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Vessel name</label>
    <div class="p-col-12 p-md-10">
      <input id="name" type="text" pInputText [(ngModel)]=vessel.name>
    </div>
  </div>
  <div class="p-field p-grid">
    <label for="imo" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">IMO</label>
    <div class="p-col-12 p-md-10">
      <input id="imo" type="text" pInputText [(ngModel)]=vessel.imo>
    </div>
  </div>
  <div class="p-field p-grid">
    <label for="teu" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">TEU</label>
    <div class="p-col-12 p-md-10">
      <input id="teu" type="text" pInputText [(ngModel)]=vessel.teu>
    </div>
  </div>
  <div class="p-field p-grid">
    <label for="serviceName" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Service name</label>
    <div class="p-col-12 p-md-10">
      <input id="serviceName" type="text" pInputText [(ngModel)]=vessel.serviceName>
    </div>
  </div>
  <div class="p-field p-grid">
    <span class="p-buttonset">
        <button pButton type="button" label="Save" icon="pi pi-check"></button>
        <button pButton type="button" label="Cancel" icon="pi pi-times" class="p-button-warning"></button>
    </span>
  </div>
</div>
