<p-card>
  <p-header class="portOfCall__header">
    <span i18n="@@portOfCall">Port of Call</span>
  </p-header>
  <p-dropdown
    (onChange)="selectPortOfCall()"
    [(ngModel)]="portOfCall"
    [filter]="true"
    [options]="portOptions"
    filterBy="label,value.name">
    <ng-template let-port pTemplate="item">
      <div *ngIf="port.value">
        <div>{{port.value.unLocode}}</div>
        <div class="portListName">{{port.value.name}}</div>
      </div>
    </ng-template>
  </p-dropdown>
</p-card>
