@import "src/styles";

.header {
  width: 100%;
  height: 100px;
  background-color: $darkNavyBlue;

  &__logo {
    margin-top: 0px;
    width: 124px;
    height: 71px;
  }

  &__menuEntryDiv {
    margin-top: 25px;
  }

  &__menuEntry {
    .p-button-label {}
      color: $foamWhite !important;
  }

  &__menuLabel {
    color: $foamWhite;
    margin-top: 30px;
    font-size: 20px;
  }

  &__info_small {
    font-size: 10pt;
    margin-top: 5px;
  }
}
