<div class="p-grid header">
  <div class="p-col-1">
    <img class="header__logo" src="assets/DCSA_logo_color_on_dark_background.png">
  </div>
  <div class="p-col-1"></div>
  <div class="p-col-3 header__menuEntryDiv" >
    <p-button (click)="showInstructions()" label="{{ 'general.instructions.label' | translate }}"
            class="p-button-text p-button-secondary header__menuEntry" icon="pi pi-question" type="button">
    </p-button>
    <p-button (click)="showDownloadRequest()" type="button" label="{{ 'general.download.timestamps.label' | translate }}"
            class="p-button-text p-button-secondary header__menuEntry" icon="pi pi-download">
    </p-button>
  </div>
  <div class="p-col-1"></div>
  <div class="p-col-2 header__menuLabel">
    <span>{{ 'general.port.call' | translate }}</span>
  </div>
  <div class="p-col-1"></div>
  <div class="p-col-2 header__menuLabel header__company_container">
    <span class="header__company">{{ 'general.company' | translate }}: {{ companyName }}</span>
    <span class="header__info_small">{{companyCodeType}}: {{companyId}}</span>
  </div>
  <div class="p-col-1">
    <p-dropdown styleClass="dropdown" (onChange)="changeLanguage($event)" [(ngModel)]="currentLanguage" [filter]="true"
                [options]="availableLanguages" autofocus="true">
    </p-dropdown>
  </div>
</div>


<p-dialog [modal]="true" header="{{ 'general.download.timestamps.header' | translate }} {{companyName}}" [(visible)]="displayDownloadRequest"
          [style]="{width: '50vw'}" [baseZIndex]="10000">
  <p>{{ 'general.download.timestamps.tooltip' | translate }}</p>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-download" (click)="downloadTimeStamps()" label="{{ 'general.download.label' | translate }}" styleClass="p-button-text"></p-button>
    <p-button icon="pi pi-times" (click)="displayDownloadRequest=false" label="{{ 'general.cancel.label' | translate }}"></p-button>
  </ng-template>
</p-dialog>
<p-toast key="DownloadRequestError" position="bottom-right"></p-toast>
