<div class="p-grid header">
  <div class="p-col-1">
    <img class="header__logo" src="assets/DCSA_logo_color_on_dark_background.png">
  </div>
  <div class="p-col-1"></div>
  <div class="p-col-3 header__menuEntryDiv" >
    <button pButton (click)="showInstructions()" label="Instructions" i18n="@@menu_entry_instructions"
            class="p-button-text p-button-secondary header__menuEntry" icon="pi pi-question" type="button">
    </button>
    <button pButton (click)="showDownloadRequest()" type="button" label="Download Timestamps" i18n="@@menu_entry_download_timestamps"
            class="p-button-text p-button-secondary header__menuEntry" icon="pi pi-download">
    </button>
  </div>
  <div class="p-col-1"></div>
  <div class="p-col-1 header__menuLabel">
    <span i18n="@@menu_entry_port_call">Port Call</span>
  </div>
  <div class="p-col-1"></div>
  <div class="p-col-4 header__menuLabel header__company_container">
    <span i18n="@@menu_entry_mandator" class="header__company">Company: {{ companyName }}</span>
    <span class="header__info_small">{{companyCodeType}}: {{companyId}}</span>
  </div>
</div>


<p-dialog [modal]="true" header="Download Timestamps for {{companyName}}" [(visible)]="displayDownloadRequest"
          [style]="{width: '50vw'}" [baseZIndex]="10000">
  <p i18n="@@menu_entry_download_timestamp_info">
    This downloads a csv file, which includes the inserted timestamps for all the vessels that have been reported in this login environment.
  </p>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-download" (click)="downloadTimeStamps()" label="Download" styleClass="p-button-text"></p-button>
    <p-button icon="pi pi-times" (click)="displayDownloadRequest=false" label="Cancel" i18n="@@menu_entry_download_timestamp_cancel"></p-button>
  </ng-template>
</p-dialog>
<p-toast key="DownloadRequestError" position="bottom-right"></p-toast>
