<div class="vessel">
  <p-card>
    <p-header class="vessel__header">
      <span i18n="@@vessel">Vessel</span>
    </p-header>
    <div class="p-grid">
      <div class="p-col-1">
        <p-button style="margin-right: 5px" type="button" icon="pi pi-plus" class="p-button-raised p-button-rounded" (onClick)="createNewVessel()"></p-button>
        <p-button type="button" icon="pi pi-pencil" class="p-button-raised p-button-rounded" (onClick)="editVessel()"></p-button>
      </div>
      <div class="p-col-3">
        <p-dropdown [options]="vessels" [(ngModel)]="selectedVessel" [filter]="true" (onChange)="selectVessel()"></p-dropdown>
      </div>
      <div class="p-col-1 vessel__vesselDetails"><span i18n="@@vessel__imo_number">Imo number:</span></div>
      <div class="p-col-1 vessel__vesselDetails"><span *ngIf="selectedVessel">{{selectedVessel.imo}}</span></div>
      <div class="p-col-1 vessel__vesselDetails"><span i18n="@@vessel__teu">Vessel size (TEU):</span></div>
      <div class="p-col-1 vessel__vesselDetails"><span *ngIf="selectedVessel">{{selectedVessel.teu}}</span></div>
      <div class="p-col-1 vessel__vesselDetails"><span i18n="@@vessel__service_name">Service name or code:</span></div>
      <div class="p-col-3 vessel__vesselDetails"><span *ngIf="selectedVessel">{{selectedVessel.serviceNameCode}}</span></div>
    </div>
  </p-card>
</div>
