<div class="main">
  <div class="main__spaceBetween">
    <app-header></app-header>
  </div>
  <div class="main__spaceBetween main__spaceInnerComponent">
    <app-vessel (vesselNotifier)="vesselChangedHandler($event)"></app-vessel>
  </div>
  <div *ngIf="vesselId > 0; then vesselsSelected else emptyVessel"></div>
  <ng-template #vesselsSelected>
    <div class="main__spaceInnerComponent">
      <p-card>
        <app-timestamp-table [vesselId]="vesselId"></app-timestamp-table>
        <app-timestamp-editor [vesselId]="vesselId"></app-timestamp-editor>
      </p-card>
    </div>
  </ng-template>
  <ng-template #emptyVessel>
    <div class="main__spaceInnerComponent" style="text-align: center">
      <p-card><span i18n="@@NoVesselSelected" class="main__notSelectedIdicator">No Vessel Selected</span></p-card>
    </div>
  </ng-template>
</div>
