<div class="main">
  <div>
    <app-header></app-header>
  </div>
  <div class="main_spcerHeadlin"></div>
  <div class="main__spaceInnerComponent, main__spaceBetween" style=" min-width: 1200px">
  <p-card >
    <app-transport-calls-table></app-transport-calls-table>
  </p-card>
  </div>
  <div class="main__spaceInnerComponent, main__spaceBetween" style=" min-width: 1200px">
    <p-card>
      <app-timestamp-table (timeStampDeletedNotifier)="timestampDeletedHandler($event)"
                           (timeStampAcceptNotifier)="timestampRespondedHandler($event)"
                           [vesselId]="vesselId"
      ></app-timestamp-table>
      <div class="stickyFooterDiv">
        <app-timestamp-editor (timeStampAddedNotifier)="timeStampAddedHandler($event)"
                              [portOfCall]="portOfCall"
                              [vesselId]="vesselId" [vesselSavedId]="vesselSavedId">
        </app-timestamp-editor>
        <app-timestamp-paginator [portCallTimeStampAdded]="portCallTimeStampAdded"
                                 [portCallTimeStampDeleted]="portCallTimeStampDeleted"
                                 [portCallTimeStampResponded] ="portCallTimeStampResponded"
                                 [portOfCall]="portOfCall"
                                 [vesselId]="vesselId">
        </app-timestamp-paginator>
      </div>
    </p-card>
  </div>
</div>
