@import "DCSA-Theme";

.main {
  width: 100%;
  margin: 0;
  padding: 0;

  &__spaceBetween {
    margin-bottom: 15px;
  }

  &__spaceInnerComponent {
    margin-left: 10px;
    margin-right: 10px;
  }

  &__notSelectedIdicator{
    text-align: center;
    font-size: 16pt;
    color: lightgray;
  }
}
