<div class="main">
  <div class="main__spaceBetween">
    <app-header></app-header>
  </div>
  <div class="main__spaceBetween main__spaceInnerComponent">
    <app-port-of-call (portOfCallNotifier)="portOfCallChangedHandler($event)"></app-port-of-call>
  </div>
  <div class="main__spaceBetween main__spaceInnerComponent">
    <app-vessel (vesselNotifier)="vesselChangedHandler($event)"></app-vessel>
  </div>
  <div class="main__spaceInnerComponent" style=" min-width: 1200px">
    <p-card>
      <app-timestamp-table (timeStampDeletedNotifier)="timestampDeletedHandler($event)"
                           [vesselId]="vesselId"
      ></app-timestamp-table>
      <app-timestamp-editor (timeStampAddedNotifier)="timeStampAddedHandler($event)"
                            [portOfCall]="portOfCall"
                            [vesselId]="vesselId"
      ></app-timestamp-editor>
      <app-timestamp-paginator [portCallTimeStampAdded]="portCallTimeStampAdded"
                               [portCallTimeStampDeleted]="portCallTimeStampDeleted"
                               [portOfCall]="portOfCall"
                               [vesselId]="vesselId"
      ></app-timestamp-paginator>
    </p-card>
  </div>
</div>
