<div class="main">
  <div class="main__spaceBetween">
    <app-header></app-header>
  </div>
  <div class="main__cards">
      <app-port-of-call class="rightSpace fullWidthAndHeight" (portOfCallNotifier)="portOfCallChangedHandler($event)"></app-port-of-call>
      <app-vessel class="fullWidthAndHeight" (vesselNotifier)="vesselChangedHandler($event)" (vesselSavedNotifier)="vesselSavedHandler($event)"></app-vessel>
  </div>


  <div class="main__spaceInnerComponent" style=" min-width: 1200px">
    <p-card>
      <app-timestamp-table (timeStampDeletedNotifier)="timestampDeletedHandler($event)"
                           (timeStampAcceptNotifier)="timestampRespondedHandler($event)"
                           [vesselId]="vesselId"
      ></app-timestamp-table>
      <div class="stickyFooterDiv">
        <app-timestamp-editor (timeStampAddedNotifier)="timeStampAddedHandler($event)"
                              [portOfCall]="portOfCall"
                              [vesselSavedId]="vesselSavedId">
        </app-timestamp-editor>
        <app-timestamp-paginator [portCallTimeStampAdded]="portCallTimeStampAdded"
                                 [portCallTimeStampDeleted]="portCallTimeStampDeleted"
                                 [portCallTimeStampResponded] ="portCallTimeStampResponded"
                                 [portOfCall]="portOfCall"
                                 [vesselId]="vesselId">
        </app-timestamp-paginator>
      </div>
    </p-card>
  </div>
</div>
