<p-paginator (onPageChange)="paginate($event)"
             [rowsPerPageOptions]="rowSizes"
             [rows]="selectedRowSize"
             [showCurrentPageReport]="true"
             [totalRecords]="timestamps.length"
             [first]="first"
             currentPageReportTemplate="{{ 'general.table.pagination' | translate:{currentPage: (first / selectedRowSize + 1),
                                                                                        totalPages: (timestamps.length / selectedRowSize),
                                                                                        totalRecords: timestamps.length} }}">
</p-paginator>
